<div class="search-index" data-find="container">
    <form action="#">
        <div class="search-index__form">
            <div class="search-index__field">
                <label class="search-index__input">
                    <input type="text" name="q" autocomplete="off"
                           placeholder="Найти в Моттексе…" value="">
                </label>
                <div class="search-index__btn">
                    <button class="btn-search">
                        <i class="icon"
                           style="background-image: url('/images/icons/ic_search.svg')"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>