<div class="service-services">
  <div class="_container">
    <div class="mx-services__heading">
      <h2>Другие услуги</h2>
    </div>
    <div class="mx-services__services">
      <div class="splide" data-slider="splide-services">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              @@include('../mx-services-item/mx-services-item.html', {
              "image": "/images/services/i_services-a001.jpg",
              "title": "Распил материалов",
              "description": "Выполняем распил плитных материалов с высокой точностью реза"
              })
            </li>
            <li class="splide__slide">
              @@include('../mx-services-item/mx-services-item.html', {
              "image": "/images/services/i_services-a002.jpg",
              "title": "Отделочные работы",
              "description": "Мы осуществим качественный ремонт с гарантией"
              })
            </li>
            <li class="splide__slide">
              @@include('../mx-services-item/mx-services-item.html', {
              "image": "/images/services/i_services-a003.jpg",
              "title": "Строительство",
              "description": "Строим каркасные дома от 1 месяца под ключ"
              })
            </li>
            <li class="splide__slide">
              @@include('../mx-services-item/mx-services-item.html', {
              "image": "/images/services/i_services-a004.jpg",
              "title": "Доставка",
              "description": "Доставим ваш заказ в любую точку мира со скоростью света"
              })
            </li>
            <li class="splide__slide">
              @@include('../mx-services-item/mx-services-item.html', {
              "image": "/images/services/i_services-a001.jpg",
              "title": "Распил материалов",
              "description": "Выполняем распил плитных материалов с высокой точностью реза"
              })
            </li>
            <li class="splide__slide">
              @@include('../mx-services-item/mx-services-item.html', {
              "image": "/images/services/i_services-a001.jpg",
              "title": "Распил материалов",
              "description": "Выполняем распил плитных материалов с высокой точностью реза"
              })
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
