<div class="service-success">
  <div class="_container">
    <h2>Наши успехи за 2023 год</h2>
    <div class="service-success__grid">
      <div class="service-success__grid-item">
        @@include('../card-achieve.html', {
        "title":"879", "subtitle": "Поставок товара на ИЖС<br/>по всей России"
        })
      </div>
      <div class="service-success__grid-item">
        @@include('../card-achieve.html', {
        "title":"15 289", "subtitle": "Поставок товара на ИЖС<br/>по всей России"
        })
      </div>
      <div class="service-success__grid-item">
        @@include('../card-achieve.html', {
        "title":"879", "subtitle": "Поставок товара на ИЖС<br/>по всей России"
        })
      </div>
      <div class="service-success__grid-item">
        @@include('../card-achieve.html', {
        "title":"879", "subtitle": "Поставок товара на ИЖС<br/>по всей России"
        })
      </div>
      <div class="service-success__grid-item">
        @@include('../card-achieve.html', {
        "title":">99%", "subtitle": "Поставок товара на ИЖС<br/>по всей России"
        })
      </div>
    </div>
  </div>
</div>
