<div class="service-annotation">
  <p>Внимание! Услуга платная и предоставляется для материалов и изделий, приобретённых только в магазинах Моттекс.</p>
  <p>Стоимость рассчитывается после консультации в магазине Моттекс, с учётом размеров и типа изделия.</p>
  <p>Данные о ценах и наличии услуг могут отличаться. Пожалуйста, уточняйте точную стоимость и наличие услуг
    в магазинах.</p>
  <p>Приобретаемые товары с оказанными услугами колеровки, резки стекла и дерева, пошива, оверлока в соответствии
    с Постановлением Правительства РФ № 2463 от 31.12.2020, обмену и возврату не подлежат.</p>
  <p>Пожалуйста, будьте внимательны при выборе.</p>
</div>
