<div class="service-description">
  <div class="service-description__title">Хотите заказать распил?</div>
  <ol class="service-description__list">
    <li class="service-description__item">Добавьте листовые материалы в корзину, поставьте галочку «Нужен распил», заполните необходимые данные.</li>
    <li class="service-description__item">Определитесь с типом реза и заполните указанные поля или сообщите менеджеру.</li>
    <li class="service-description__item">Оплатите услугу и товар.</li>
    <li class="service-description__item">Получите распиленные материалы и товар на складе или через доставку.</li>
  </ol>
  <button class="btn-blue">Заказать распил</button>
</div>
