<div class="service-price">
  <h2 class="service-price__title">Прайс на услуги распила</h2>

  <div class="service-price__group">
    <h3 class="service-price__group-title">Фанера, ОСП, ДВП, ДСП, МДФ, ХДФ</h3>
    <ul class="service-price__group-list">
      <li class="service-price__group-item">
        <div class="article">Толщина от 3мм до 10мм, включительно</div>
        <div class="price">
          <div class="value">120</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Толщина от 11мм до 15мм, включительно</div>
        <div class="price">
          <div class="value">160</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Толщина от 16мм до 20мм, включительно</div>
        <div class="price">
          <div class="value">200</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Толщина от 21мм до 29мм, включительно</div>
        <div class="price">
          <div class="value">300</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="service-price__group">
    <h3 class="service-price__group-title">ГСП, ЦСП, Green Board</h3>
    <ul class="service-price__group-list">
      <li class="service-price__group-item">
        <div class="article">Толщина от 30мм до 40мм, включительно</div>
        <div class="price">
          <div class="value">200</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="service-price__group">
    <h3 class="service-price__group-title">ГСП, ЦСП, Green Board</h3>
    <ul class="service-price__group-list wide">
      <li class="service-price__group-item">
        <div class="article">Стрейч плёнка | 1 поддон</div>
        <div class="price">
          <div class="value">400</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Стяжная лента | 1 поддон</div>
        <div class="price">
          <div class="value">200</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Складирование деталей, раскладка по толщине и размерам деталей, 1 поддон</div>
        <div class="price">
          <div class="value">800</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
    </ul>
    <div class="service-price__group-subtitle">Габариты поддона, мм: 1200 × 1200 / 2400</div>
  </div>
</div>
