<div class="service-price">
  <h2 class="service-price__title">Прайс на услуги распила</h2>

  <div class="service-price__group">
    <h3 class="service-price__group-title">Фанера, ОСП, ДВП, ДСП, МДФ, ХДФ</h3>
    <ul class="service-price__group-list">
      <li class="service-price__group-item">
        <div class="article">Толщина от 3мм до 10мм, включительно</div>
        <div class="price">
          <div class="value">120</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Толщина от 11мм до 15мм, включительно</div>
        <div class="price">
          <div class="value">160</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Толщина от 16мм до 20мм, включительно</div>
        <div class="price">
          <div class="value">200</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
      <li class="service-price__group-item">
        <div class="article">Толщина от 21мм до 29мм, включительно</div>
        <div class="price">
          <div class="value">300</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="service-price__group">
    <h3 class="service-price__group-title">ГСП, ЦСП, Green Board</h3>
    <ul class="service-price__group-list">
      <li class="service-price__group-item">
        <div class="article">Толщина от 30мм до 40мм, включительно</div>
        <div class="price">
          <div class="value">200</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="service-price__group">
    <h3 class="service-price__group-title">Снять фаску 45 градус, диаметр до 5мм</h3>
    <ul class="service-price__group-list">
      <li class="service-price__group-item">
        <div class="article">Любая толщина</div>
        <div class="price">
          <div class="value">200</div>
          <div class="units">₽/м.п.</div>
        </div>
      </li>
    </ul>
  </div>
</div>
