<div class="w-text">
  <div class="w-text__icon">
    <i class="icon-m" style="mask-image: url(/images/icons/im_warning.svg)"></i>
  </div>

  <div class="w-text__content">
    <div class="formated-text">

      <h1>Заголовок h1</h1>

      <p>Lorem ipsum, <a href="">Ссылка</a> dolor sit amet <strong>Жирный</strong> consectetur adipisicing elit. Eaque
        quidem beatae, alias eveniet eius et
        praesentium vero placeat quae rerum officia perspiciatis minus dignissimos nisi dolorem, voluptates natus odit
        cumque.</p>

      <h2>Заголовок h2</h2>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident odio repellat repellendus omnis vel,
        accusamus voluptates, explicabo non illum odit voluptatibus facere dolore nulla quasi at nam tenetur ab
        recusandae.</p>

      <h3>Заголовок h3</h3>

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, eligendi earum corporis ex odit quis
        totam optio eos molestias vel reiciendis velit laboriosam aliquam consequuntur error veniam ipsum officia hic!
      </p>

      <h4>Заголовок h4</h4>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe et neque. Tempore facere doloremque cum
        sapiente aperiam deserunt eveniet consequuntur accusamus atque similique corporis, expedita sunt minima cumque
        quas.</p>

      <h5>Заголовок h5</h5>

      <blockquote>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fugiat numquam eaque nemo delectus
        assumenda eligendi nisi eveniet enim quaerat dolores, cupiditate a obcaecati quasi quae nesciunt at. Architecto,
        aut.</blockquote>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis corrupti natus accusantium enim aliquam
        inventore ullam veritatis, consequatur beatae quaerat laudantium, quis et odit quae. Explicabo suscipit minima
        ipsa aut.</p>

      <ul>
        <li>Нумерованный список</li>
        <li>Нумерованный список</li>
        <li>Нумерованный список</li>
        <li>Нумерованный список</li>
      </ul>

      <ol>
        <li>Толщина пильного диска 4 мм.</li>
        <li>Максимальный габарит готовой детали — 3000 × 1290мм.</li>
        <li>При распиле на станке, кромление обязательно для получения двух углов по 90 градусов и равных длин
          по диагонали. При кромлении срезается до 10мм с каждой стороны.</li>
        <li>Сложные проекты рассчитываются индивидуально.</li>
      </ol>

      <table>
        <tr>
          <th>table head</th>
          <th>table head</th>
          <th>table head</th>
          <th>table head</th>
        </tr>
        <tr>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
        </tr>
        <tr>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
        </tr>
        <tr>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
        </tr>
        <tr>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
          <td>table col</td>
        </tr>
      </table>

    </div>
  </div>
</div>
