<div class="w-text">
  <div class="w-text__icon">
    <i class="icon-m" style="mask-image: url(/images/icons/im_warning.svg)"></i>
  </div>
  <div class="w-text__header">Это важно! Есть технологические ограничения</div>
  <div class="w-text__content">
    <ol class="ordered">
      <li>Толщина пильного диска 4 мм.</li>
      <li>Максимальный габарит готовой детали — 3000 × 1290мм.</li>
      <li>При распиле на станке, кромление обязательно для получения двух углов по 90 градусов и равных длин по диагонали. При кромлении срезается до 10мм с каждой стороны.</li>
      <li>Сложные проекты рассчитываются индивидуально.</li>
    </ol>
  </div>
</div>




