<a class="mx-all-collections__card" style="background-image: url('/images/all-collections/all_collections-a001.jpg')" href="collection-details.html">
    <div class="mx-all-collections__card-badges">
        <span class="mx-all-collections__card-badge">Подборка товаров</span>
    </div>
    <div class="mx-all-collections__card-content">
        <div class="mx-all-collections__card-icon">
            <i class="icon" style="background-image: url('/images/icons/ic_goods.svg')"></i>
        </div>
        <div class="mx-all-collections__card-title">Этим материалам<br/>более 10 лет</div>
    </div>
</a>