.float-bar {
 
    display: flex;
    position: fixed;
    left: 16px;
    right: auto;
    cursor: pointer;
    z-index: 50;
    transition: .3s ease;
    bottom: 76px;
    opacity: 0;
    transform: translateY(50px);
 

  @media screen and (min-width: $w760) {
    bottom: 60px;
    left: 56px;
  }

  &.is-active {

    @media screen and (min-width: $w576) {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: $w760) {
    flex-direction: column;
    max-width: 170px;

  }

  &__call {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 100%;
    padding: 12px;

    @media screen and (min-width: $w760) {
      flex-direction: column;
      text-align: center;
      padding: 20px 24px;
    }

    &-icon {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $w760) {
        margin-right: 0;
        margin-bottom: 6px;
      }

      @media screen and (min-width: $w760) {


        & svg {
          width: 40px;

        }
      }
    }

    &-text {

      font-size: 13px;

      @media screen and (min-width: $w760) {
        font-size: 16px;
        line-height: 120%;
      }
    }
  }

  &__top {
    padding: 12px;
    min-width: 56px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--accent);

    &:hover {
      opacity: 0.85;
    }



    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;


      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3IDExbC01LTUtNSA1bTEwIDdsLTUtNS01IDUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
        background-repeat: no-repeat;
        background-position: center;
      }


    }

    &-text {
      display: none;

      @media screen and (min-width: $w760) {
        display: block;
      }
    }
  }

}
