@import "../../config";

.search-index {

    &__form {

        position: relative;

        &::before {
            content: '';
            background: #00000081;
            position: fixed;
            left: 0;
            top: 0;
            right: auto;
            bottom: auto;
            visibility: hidden;
            opacity: 0;
        }
    }

    &__cancel {
        display: none;
        cursor: pointer;
    }

    &__empty {
        line-height: 150%;
        font-size: 15px;
        color: var(--black-70);
        text-align: center;
        height: calc((var(--vh, 1vh) * 100) - 60px);
        display: flex;
        align-items: center;
    }

    &__suggest {
        background: #fff;
        z-index: 21;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        right: 0;
        border-radius: 8px;
        display: none;
    }

    &.is-focus {
        & .search-index {
            &__form {
                &.search-index__form::before {
                    content: '';
                    background: rgba(21, 24, 26, 0.102);
                    position: fixed;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 20;
                    opacity: 0.6;
                    transition: 0.35s ease;
                    visibility: visible;
                }
            }

            &__suggest {
                display: block;
            }

            &__field {
                position: relative;
                z-index: 21;
            }
        }

        &.is-mobile {
            & .search-index {

                &__str {
                    display: flex;
                    align-items: center;
                }

                &__input {
                    & input {
                        padding: 14px 20px;
                        font-size: 14px;
                        font-weight: 400;
                        height: 40px;

                        &::placeholder {
                            font-weight: normal;
                            font-size: 14px;
                        }
                    }
                }

                &__field {
                    flex-grow: 1;
                }

                &__cancel {
                    display: block;
                    color: var(--accent);
                    font-size: 12px;
                    margin-left: 12px;
                }

                &__btn {

                    flex: 0 0 40px;

                    & button {
                        height: 40px;

                        & .icon {
                            min-width: 16px;
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                &__form {
                    position: fixed;
                    left: 0;
                    top: 0;
                    z-index: 50;
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: #fff;
                    padding: 16px;

                    &::before {
                        display: none;
                    }
                }

                &__suggest {
                    top: 80px;
                    height: calc((var(--vh, 1vh) * 100) - 80px);
                    overflow-y: auto;
                }
            }
        }
    }




}

.search-suggest {
    padding: 24px;

    @media screen and (min-width: $w576) {
        display: flex;
    }

    &__right {
        flex-grow: 1;

        @media screen and (min-width: $w576) {
            width: 33.33%;
        }
    }

    &__left {


        @media screen and (min-width: $w576) {
            width: 50%;
        }

        @media screen and (min-width: $w992) {
            display: flex;
            flex-grow: 1;
            width: 66.66%;
        }

        &>div {


            width: 100%;

            @media screen and (min-width: $w992) {
                flex-grow: 1;
                width: 50%;
            }
        }
    }

    &__label {
        font-weight: 600;
        padding-bottom: 22px;
    }

    &__list {
        display: flex;
        gap: 13px;
        flex-wrap: wrap;

        @media screen and (min-width: $w760) {
            flex-direction: column;
        }


    }

    &__all {

        padding-top: 12px;

        & a {
            font-size: 14px;
            color: var(--black-base);
            display: inline-block;
            border: 1px solid var(--black-20);
            padding: 10px 16px;
            border-radius: 8px;

            &:hover {
                border-color: var(--accent);
            }

        }
    }

    &__similar {
        @media screen and (min-width: $w576) {
            border-right: 1px solid var(--black-20);
        }
    }

    &__category {

        padding-top: 30px;

        @media screen and (min-width: $w576) {
            border-right: 1px solid var(--black-20);
        }


        @media screen and (min-width: $w992) {
            padding-left: 36px;
            padding-top: 0;
        }
    }

    &__product {
        padding-top: 30px;

        @media screen and (min-width: $w576) {
            padding-left: 36px;
            padding-top: 0;
        }
    }


}

.suggest-similar {

    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
        content: "";
        min-width: 24px;
        width: 24px;
        height: 24px;
        background-color: var(--black-10);
        display: inline-block;
        border-radius: 8px;
        margin-right: 12px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjExNSAxNkw5LjE5IDExLjA3NUE1Ljk2MyA1Ljk2MyAwIDAxNiAxMmE2IDYgMCAxMTYtNiA1Ljk2OCA1Ljk2OCAwIDAxLS45MjUgMy4xOUwxNiAxNC4xMTUgMTQuMTE1IDE2ek02IDEwLjY2N0E0LjY3MiA0LjY3MiAwIDAwMTAuNjY3IDYgNC42NzIgNC42NzIgMCAwMDYgMS4zMzMgNC42NzIgNC42NzIgMCAwMDEuMzMzIDYgNC42NzIgNC42NzIgMCAwMDYgMTAuNjY3eiIgZmlsbD0iIzhBOEM4RCIvPjwvc3ZnPg==);
        background-position: center;
        background-repeat: no-repeat;
    }

    &:hover {
        color: var(--black-20);
    }
}

.suggest-product {
    padding-bottom: 9px;
    display: flex;

    &__image {
        padding-right: 10px;

        & .bgimage {

            width: 50px;
            height: 50px;
            background-color: var(--black-5);
            display: block;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            background-repeat: no-repeat;

        }
    }

    &__name {
        font-size: 14px;
        padding-bottom: 6px;
        line-height: 140%;

        & a {
            color: var(--black-base);
        }
    }

    &__price {
        font-size: 14px;
        font-weight: bold;
    }

    &:hover {
        & .suggest-product {

            cursor: pointer;

            &__name {
                & a {
                    color: var(--black-70);
                }
            }
        }
    }
}

.suggest-category {
    & a {
        color: var(--black-base);

        &:hover {
            color: var(--black-70);
        }
    }
}
