

#status {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 17px 22px;
    background: transparent;
    min-width: 300px;
    transform: translateY(50%);
    transition: 0.3s ease;
    color: #fff;
    z-index: 100000;
    max-width: 300px;
    visibility: hidden;
    border-radius: 8px;
    flex-wrap: wrap;
    opacity: 0;
    right: 20px;
  
  
    &:hover {
      #status_btn {
        opacity: 1;
  
      }
    }
  
  }
  
  #status.complete {
    border-left: 0;
    opacity: 1;
    transform: translateY(-10px);
    padding-left: 60px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4IiByeD0iOCIgZmlsbD0iIzM4M0EzQyIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzYgMTYuMzhMMjEuMTIgMzMuMzU3IDEyIDI1LjMzM2wxLjc1OS0xLjk4NiA3LjEyMSA2LjI0OCAxMy4xNTMtMTQuOTI4TDM2IDE2LjM4eiIgZmlsbD0iIzI2QjAwMCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: 8px 8px;
  }
  
  #status_header {
    font-weight: 600;
    font-size: 15px;
    padding: 2px 4px;
  }
  
  #status_msg {
    line-height: 140%;
    padding: 2px 4px;
    font-size: 14px;
  }
  
  #status.error {
  
    transform: translateY(0);
    height: auto;
    visibility: visible;
    background-color: rgb(231, 14, 14);
    opacity: 1;
  
  }
  
  #status.warning {
    transform: translateY(0);
    height: auto;
    visibility: visible;
    background-color: rgb(255, 166, 0);
    opacity: 1;
  }
  
  #status.complete {
    transform: translateY(0);
    height: auto;
    visibility: visible;
    background-color: rgb(16, 17, 16);
    opacity: 1;
  }
  
  #status.error #status_header {
    color: #fff;
  }
  
  #status.warning #status_header {
    color: #fff
  }
  
  #status.complete #status_header {
    color: #fff
  }
  
  #status_msg a {
    color: #fff;
    text-decoration: underline;
  }
  
  #status_btn {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.681818 0L15 14.3182L14.3182 15L1.62748e-08 0.681818L0.681818 0Z' fill='%23FFFFFF'/%3E%3Cpath d='M15 0.681818L0.681818 15L0 14.3182L14.3182 6.09593e-07L15 0.681818Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 13px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    opacity: 0.6;
  }
  
  #status_btn {
    opacity: 0;
  
  }