@import "../../config";

.discount-slide {
  picture {
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    font: 500 14px/20px $fontDefault;
    margin-block: 9px 3px;
  }

  &__term {
    font: 400 10px/1.6 $fontDefault;
    color: var(--black-50);
  }
}

.discount-other {
  h3 {
    font: 700 16px/20px $fontDefault;
    margin-bottom: 12px;
  }
  .splide__track {
    overflow: visible;
  }
}
