@import "../../config";

.discount-goods {
  &__wrapper {
    background: var(--black-10);
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-block: 1px;
  }
  &__totals {
    margin-block: 42px 8px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @include tablet {
      gap: 12px;
    }

    .total-discount {
      font: 700 24px/32px $fontDefault;
      background: var(--red);
      color: var(--white);
      padding-inline: 8px;
      border-radius: 8px;
    }

    .total-price {
      font: 700 24px/32px $fontDefault;
      color: var(--red);
    }

    .total-old {
      text-decoration: line-through;
      color: var(--black-50);
      font: 400 14px/20px $fontDefault;
      @include tablet {
        font: 400 20px/28px $fontDefault;
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;

    .btn-blue {
      width: 100%;
      max-width: 334px;
    }
  }
}
