@import "../../config";

.discount-goods {
  &__wrapper {
    background: var(--black-10);
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-block: 1px;
  }
  &__totals {
    margin-block: 42px 12px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    @include tablet {
      margin-top: 62px;
      margin-left: 0;
      margin-bottom: 20px;
    }
    @include desktop {
      margin-top: 71px;
    }

    .total-discount {
      font: 700 24px/32px $fontDefault;
      background: var(--red);
      color: var(--white);
      padding-inline: 8px;
      border-radius: 8px;
      @include tablet {
        font-size: 32px;
        line-height: 40px;
        padding-inline: 13px;
      }
    }

    .total-price {
      font: 700 24px/32px $fontDefault;
      color: var(--red);
      margin-left: 8px;
      margin-right: 12px;
      @include tablet {
        font-size: 32px;
        line-height: 40px;
        margin-left: 13px;
      }
    }

    .total-old {
      text-decoration: line-through;
      color: var(--black-50);
      font: 400 14px/20px $fontDefault;
      @include tablet {
        font: 400 20px/28px $fontDefault;
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;

    .btn-blue {
      width: 100%;
      max-width: 334px;
    }
  }
}
