@import "../config";

:root {
  --blog-item-padding: 12px;
  @include tablet {
    --blog-item-padding: 20px;
  }
}

.blog-item {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 100%;
  min-height: 223px;
  border: 1px solid var(--black-10);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 16px 0 #13131326;
  }

  @include tablet {
    min-height: 424px;
  }

  &__wrapper {
    container-type: inline-size;
  }

  a:not([class]) {
    color: inherit;
  }

  &__image {
    position: relative;
    height: 111px;
    display: block;

    @include tablet {
      height: 244px;
    }

    picture {
      display: block;
      position: absolute;
      inset: 0;
      z-index: -1;
      transition: opacity .3s;

      .blog-item:hover & {
        opacity: 0.85;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-blue {
      padding: 8px 23px;
      @include tablet {
        padding: 12px 20px;
      }
    }
  }

  &__title {
    color: var(--black-base);
    font: 500 12px/16px $fontDefault;
    margin-block: 12px 8px;

    @include tablet {
      font: 700 16px/1.5 $fontDefault;
      margin-block: 20px;
    }

    .blog-item:hover & {
      color: var(--blue-light);
    }

    &-wrapper {
      position: absolute;
      top: 100%;
      left: var(--blog-item-padding);
    }
  }

  &__badge {
    position: absolute;
    top: var(--blog-item-padding);
    left: var(--blog-item-padding);
    background: var(--white);
    font: 500 8px/1.5 $fontDefault;
    color: var(--black-base);
    padding-inline: 4px;
    border-radius: 4px;
    @include tablet {
      font-size: 12px;
    }
  }

  &__date {
    position: absolute;
    left: var(--blog-item-padding);
    bottom: var(--blog-item-padding);
    color: var(--white);
    font: 400 10px/1.6 $fontDefault;

    @include tablet {
      font: 400 14px/20px $fontDefault;
    }
  }

  &__time {
    position: absolute;
    right: var(--blog-item-padding);
    bottom: var(--blog-item-padding);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 4px;
    font: 400 10px/1.6 $fontDefault;
    @include tablet {
      font: 400 14px/20px $fontDefault;
    }
  }
}

/*
  Two-columns blog item
 */

@container (width > 500px) or (width > 50vw) {
  .blog-item {
    border: none;
    min-height: 195px;
    @include tablet {
      min-height: 424px;
    }

    &__image {
      position: static;
      aspect-ratio: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: var(--blog-item-padding);
      padding-bottom: 52px;
      @include tablet {
        padding-bottom: 80px;
      }
    }

    &__time, &__date {
      position: static;
    }

    &__title {
      color: var(--white) !important;
      font: 700 16px/20px $fontDefault;

      @include tablet {
        font: 700 24px/32px $fontDefault;
        margin-block: 12px;
      }

      &-wrapper {
        position: static;
      }
    }
  }

  .button {
    position: absolute;
    bottom: var(--blog-item-padding);
    left: var(--blog-item-padding);
  }
}
