.category-filter {
  display: none;

  padding: 20px;
  border-radius: 8px;
  border: 1px solid #D0D1D1;
  background: #FFF;

  height: fit-content;

  &.fixed {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;

    border-radius: 0;
    padding: 0;
    @media screen and (min-width: 991.98px) {
      padding: 20px;
      border-radius: 8px;
    }

    .category-filter__body {
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(var(--vh, 1vh) * 100 - 120px);
      @media screen and (min-width: 991.98px) {
        overflow: initial;
        height: initial;
      }
    }

    @media screen and (min-width: 991.98px) {
      position: static;
    }
  }

  @media screen and (min-width: 991.98px) {
    display: block;

    .category-filter__heading {
      display: none;
    }

    .category-filter__container {
      max-width: initial;
      padding: 0;
    }
  }


  &__heading {
    background: #19BEFF;

    &-wrapper {
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      color: #FFF;

      @media screen and (min-width: 767.98px) {
        font-size: 28px;
        line-height: 36px;
      }
    }

    &-close {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transition: 0.1s ease;
      cursor: pointer;

      min-width: 20px;
      width: 20px;
      height: 20px;

      border-radius: 6px;
      background: #FFF;

      span {
        width: 12px;
        height: 1.5px;
        margin: -.5px -1px -1px -1px;
        background: #000;

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }

      @media screen and (min-width: 767.98px) {
        min-width: 28px;
        width: 28px;
        height: 28px;

        border-radius: 8px;

        span {
          width: 16px;
        }
      }
    }
  }


  &__head {
    padding: 28px 0;
    position: relative;

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #15181A;

    @media screen and (min-width: 991.98px) {
      padding-top: 0;
    }

    &:before {
      content: '';
      width: calc(100% + 40px);
      height: 1px;
      position: absolute;
      left: -20px;
      bottom: 0;
      background: #D0D1D1;

    }
  }

  &__props {
  }

  &__item {
    padding: 20px 0;
    position: relative;

    &:not(:last-child) {
      &:before {
        content: '';
        width: calc(100% + 40px);
        height: 1px;
        position: absolute;
        left: -20px;
        bottom: 0;
        background: #D0D1D1;

      }
    }

    .filter-properties {
      &.is-hide {
        .filter-properties__list {
          display: none;
        }

        .filter-properties__cross {
          .icon {
            transform: rotate(90deg);
          }
        }

      }

      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        cursor: pointer;
      }

      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #15181A;
      }

      &__cross {
        .icon {
          width: 8px;
          min-width: 8px;
          height: 10px;
          transform: rotate(-90deg);
        }
      }

      &__list {
        margin-top: 20px;

        ul {
          &.is-open {
            li {
              display: block;
            }
          }

          li {
            display: none;

            &:nth-child(-n+5) {
              display: block;
            }

            &:not(:last-child) {
              margin-bottom: 12px;
            }

            label.checkbox {
              display: inline-flex;
              align-items: center;

              position: relative;
              cursor: pointer;
              @media screen and (min-width: 991.98px) {
                &:hover {
                  .checkbox__elem {
                    border-color: #19BEFF;
                  }

                  .checkbox__text {
                    color: #19BEFF;
                  }
                }
              }

              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked {
                  ~ .checkbox__elem {
                    background-color: #19BEFF;
                    border-color: #19BEFF;
                    z-index: 2;

                    &:after {
                      opacity: 1;
                      border-radius: 0;
                      transform: rotate(0);
                    }
                  }
                }
              }

              .checkbox__elem {
                position: relative;
                min-width: 28px;
                width: 28px;
                height: 28px;
                border-radius: 8px;
                border: 1px solid #D0D1D1;
                background: #FFF;

                display: inline-block;
                margin-right: 8px;
                transition: .1s ease;


                &:after {
                  opacity: 0;
                  content: '';
                  position: absolute;
                  left: 5px;
                  top: 7px;
                  min-width: 16px;
                  width: 16px;
                  height: 12px;
                  transform: rotate(90deg);
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS41IDEuMjM3MzRMNi4yIDExLjg0ODJMMC41IDYuODMzMTdMMS41OTkxNyA1LjU5MTVMNi4wNSA5LjQ5NjVMMTQuMjcwOCAwLjE2NjUwNEwxNS41IDEuMjM3MzRaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
                  transition: 0.5s cubic-bezier(0.08, 0.8, 0.16, 1);
                }
              }

              .checkbox__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #15181A;
                transition: .1s ease;
              }
            }
          }
        }

        .sub-menu-toggle {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-top: 20px;

          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #15181A;

          cursor: pointer;
          transition: .1s ease;

          @media screen and (min-width: 991.98px) {
            &:hover {
              opacity: .7;
            }
          }

          &.is-open {
            .icon {
              transform: rotateX(180deg);
            }
          }

          span {
          }

          .icon {
            min-width: 28px;
            width: 28px;
            height: 28px;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 8px;
            background-color: #F3F3F3;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjYwMDM5MSAxLjUwOTMzTDIuMTA5MTkgLTQuOTM1NTRlLTA3TDcuMDAyNTIgNC45ODA4TDExLjg5MTYgLTYuNTk1MTdlLTA4TDEzLjQwMDQgMS41MDkzM0w3LjAwMjUyIDhMMC42MDAzOTEgMS41MDkzM1oiIGZpbGw9IiM1QzVFNUYiLz4KPC9zdmc+Cg==);
          }
        }
      }

      &__range {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__row {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      &__input {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 8px;
        border: 1px solid #d1d1d1;

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #8A8C8D;
        }

        input {
          padding: 0 4px;
          border: none;

          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #8A8C8D;
        }
      }

      &__slider {
        display: block;
        position: relative;
        width: 100%;
        height: 20px;
        user-select: none;

        .slider {
          &-touch-left {
            display: block;
            position: absolute;
            height: 20px;
            width: 20px;
            z-index: 2;
            cursor: pointer;

            span {
              display: block;
              height: 20px;
              width: 20px;
              background: #19BEFF;
              border-radius: 50%;
            }
          }

          &-touch-right {
            display: block;
            position: absolute;
            height: 20px;
            width: 20px;
            z-index: 2;
            cursor: pointer;

            span {
              display: block;
              height: 20px;
              width: 20px;
              background: #19BEFF;
              border-radius: 50%;
            }

          }

          &-line {
            position: absolute;
            left: 0;
            top: 10px;
            width: 100%;
            height: 2px;
            background: #E0E0E0;
            z-index: 0;
            overflow: hidden;

            span {
              display: block;
              height: 100%;
              width: 0;
              background: #19BEFF;
            }
          }
        }
      }
    }
  }
}