main {
  flex: 1 0 auto;
}

.b-data-search {
  @media screen and (min-width: 767.98px) {
    margin: 80px 0 120px;
  }

  &__heading {
    margin-bottom: 12px;
    @media screen and (min-width: 767.98px) {
      margin-bottom: 20px;
    }

    h1 {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .sub-title {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      text-align: center;
      color: #8A8C8D;
      @media screen and (min-width: 767.98px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__search {
    .search-index {
      &__field {
        border: 2px solid #19BEFF;
      }

      &__input {
        input {
          padding: 16px 20px;

          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: #15181A;

          &::placeholder {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #5C5E5F;
          }

          @media screen and (min-width: 767.98px) {
            padding: 36px;

            font-size: 20px;
            line-height: 28px;

            &::placeholder {
              font-size: 20px;
              line-height: 28px;
            }
          }

        }
      }

      &__btn {
        flex: 0 0 72px;

        button {
          height: 56px;

          .icon {
            min-width: 28px;
            width: 28px;
            height: 28px;
          }
        }

        @media screen and (min-width: 767.98px) {
          flex: 0 0 100px;

          button {
            height: 100px;

            .icon {
              min-width: 40px;
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

.mx-main-catalog {
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    @media screen and (min-width: 767.98px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
    @media screen and (min-width: 1199.98px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }
  }

  .card-mx {
    transform-style: preserve-3d;


    background: #F3F3F3;
    border-radius: 8px;

    //min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    overflow: hidden;
    @media screen and (min-width: 767.98px) {
      gap: 12px;
    }

    &.is-expanded {
      .card-mx__props {
        &:after {
          display: block;
        }
      }

      .card-mx__property {
        display: block;
        animation: dropdown-animation-ttp .5s ease-in forwards;

      }

      .card-mx__props picture img {
        animation: reverse-overlay .5s ease-in forwards;
      }
    }


    &__heading {
      padding: 12px 12px 0 12px;
      display: flex;
      justify-content: space-between;
      gap: 8px;
      @media screen and (min-width: 767.98px) {
        padding: 20px 20px 0 20px;
      }
    }

    &__heading-title {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      @media screen and (min-width: 767.98px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__heading-action {
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 20px;
      width: 20px;
      height: 20px;

      background: #FFF;
      border: 1px solid #D0D1D1;
      border-radius: 6px;
      cursor: pointer;

      @media screen and (min-width: 767.98px) {
        min-width: 32px;
        width: 32px;
        height: 32px;
      }

      .icon {
        display: block;
        min-width: 12px;
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.1s ease;
        @media screen and (min-width: 767.98px) {
          min-width: 16px;
          width: 16px;
          height: 16px;
        }
      }
    }

    &__props {
      position: relative;
      backface-visibility: hidden;

      &:after {
        display: none;

        content: '';
        //display: block;
        width: calc(100% - 24px);
        height: 2px;
        position: absolute;
        top: 0;
        left: 12px;
        z-index: 1;
        background: #15181A;
        @media screen and (min-width: 767.98px) {
          width: calc(100% - 40px);
          left: 20px;
        }
      }


      picture {
        position: relative;
        display: block;
        padding-bottom: 80.5%;
        height: 0;
        overflow: hidden;
        backface-visibility: hidden;


        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          object-fit: cover;
          border-radius: 8px;

        }
      }
    }

    &__property {
      display: none;

      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      padding: 8px 12px;
      background: #F3F3F3;
      overflow-y: auto;
      @media screen and (min-width: 767.98px) {
        padding: 12px 20px;
      }
      @media screen and (min-width: 1199.98px) {
        padding: 20px;
      }


      ul {

        li {
          display: flex;
          padding-bottom: 4px;
          border-bottom: 1px solid #D0D1D1;
          @media screen and (min-width: 767.98px) {
            padding-bottom: 8px;
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            font-size: 10px;
            font-weight: 400;
            line-height: 16px;
            color: #15181A;
            @media screen and (min-width: 767.98px) {
              font-size: 14px;
              line-height: 20px;
            }
            @media screen and (min-width: 1199.98px) {
              font-size: 16px;
            }

            span {
              font-size: 8px;
              font-weight: 400;
              line-height: 12px;
              color: #8A8C8D;
              @media screen and (min-width: 767.98px) {
                font-size: 12px;
                line-height: 16px;
              }
              @media screen and (min-width: 1199.98px) {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.mx-numbers {
  padding: 40px 0;
  background: #F3F3F3;
  overflow: hidden;
  @media screen and (min-width: 767.98px) {
    padding: 80px 0;
  }

  .splide {
    &__track {
      overflow: initial;
    }

    &__list {
      @media screen and (min-width: 1439.98px) {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 32px;

    max-width: 580px;

    @media screen and (min-width: 767.98px) {
      font-size: 24px;
      line-height: 32px;

      margin-bottom: 60px;
    }
  }

  &__item {

  }

  &__item-top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D0D1D1;
    @media screen and (min-width: 767.98px) {
      padding-bottom: 20px;
    }


    .icon {
      display: block;
      min-width: 40px;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.1s ease;
      @media screen and (min-width: 767.98px) {
        min-width: 60px;
        width: 60px;
        height: 60px;
      }
    }

    .num {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      @media screen and (min-width: 767.98px) {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }

  &__item-bottom {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 8px;
    @media screen and (min-width: 767.98px) {
      font-size: 14px;
      line-height: 20px;

      padding-top: 12px;
    }
  }
}