.mx-simple-collections-item {
  position: relative;


  &__img {
    picture {
      position: relative;
      display: block;
      padding-bottom: 58%;
      height: 0;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        border-radius: 8px;
        transition: 0.2s ease;
      }
    }

    @media screen and (min-width: 1439.98px) {
      height: 100%;
      picture {
        display: inline;
        padding: 0;

        img {
          position: static;
        }
      }
    }
  }

  &__content {
    &-top {
      position: absolute;
      left: 12px;
      top: 12px;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 6px;
      background: linear-gradient(90deg, #19BEFF 0%, #3C82D2 100%);
      @media screen and (min-width: 767.98px) {
        left: 20px;
        top: 20px;

        border-radius: 8px;
      }

      span {
        padding: 2px 4px;
        display: block;

        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #FFF;
        @media screen and (min-width: 767.98px) {
          padding: 4px 8px;

          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &-bottom {
      position: absolute;
      left: 12px;
      bottom: 12px;
      z-index: 1;

      display: flex;
      flex-direction: column;
      gap: 12px;
      @media screen and (min-width: 767.98px) {
        left: 20px;
        bottom: 20px;

      }

      &-icon {
        span {
          padding: 10px;
          border-radius: 8px;
          border: 1px solid #FFF;

          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          @media screen and (min-width: 767.98px) {
            padding: 16px;
          }

          .icon {
            min-width: 20px;
            width: 20px;
            height: 20px;
            @media screen and (min-width: 767.98px) {
              min-width: 28px;
              width: 28px;
              height: 28px;
            }
          }
        }
      }

      &-text {
        p {
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: #FFF;
          @media screen and (min-width: 767.98px) {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }
}