.search-index {

  &__field {
    background: #19BEFF;
    border: 1px solid #19BEFF;
    border-radius: 8px;

    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1;

    input {
      width: 100%;
      padding: 7px 12px;
      border-radius: 8px;
      background: #FFF;
      outline: none;

      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #15181A;

      height: 100%;
      border: none;

      &::placeholder {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #5C5E5F;
      }

      @media screen and (min-width: 767.98px) {
        padding: 11px 12px;

        font-size: 16px;
        line-height: 24px;

        &::placeholder {
          font-size: 16px;
          line-height: 24px;
        }
      }

    }
  }

  &__btn {
    flex: 0 0 32px;

    button {
      background: none;
      border: none;
      cursor: pointer;

      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: block;
        min-width: 14px;
        width: 14px;
        height: 14px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.1s ease;
      }
    }

    @media screen and (min-width: 767.98px) {
      flex: 0 0 58px;
      button {
        height: 46px;

        .icon {
          min-width: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
