.section-top-catalog {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  box-shadow: 0 5px 6px -2px #0000001c;
  margin: 0;
  z-index: 20;
  height: calc(100vh - 60px);
  overflow: hidden;
  animation: showBlockLtoT 0.3s linear forwards;


  @media screen and (min-width: 992px) {
    position: absolute;
    top: 151px;
    padding: 24px 0;
    height: auto;
    animation: initial;
  }

  &.is-open {
    display: block;
  }

  & ._container {
    @media screen and (max-width: 992px) {
      max-width: 100%;
      padding: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .top-catalog {
    display: flex;

    &__head {
      display: none;
    }

    &__content {
      width: calc(100% - 308px);
    }

    &__aside {
      width: 308px;
      padding-right: 40px;


      & ul {
        & li {

          padding: 12px 18px;
          min-height: 48px;
          align-items: center;
          display: flex;
          gap: 12px;
          border-radius: 8px;
          cursor: pointer;
          line-height: 150%;

          & .icon {
            width: 24px;
            height: 24px;
            display: inline-block;
            border-radius: 6px;
            opacity: 0.2;
            transition: 0.3s ease;
          }

          &.is-active,
          &:hover {
            background-color: var(--black-5);


            & .icon {
              opacity: 1;
            }
          }
        }
      }
    }

    &__cathead {
      padding-bottom: 24px;
    }

    &__subcat {
      display: flex;
      flex-wrap: wrap;

    }

    &__item {

      padding: 7px;
      width: 100%;


      @media screen and (min-width: 576px) {
        width: 50%;
      }

      @media screen and (min-width: 1200px) {
        width: 33.33%;
      }
    }

  }

  .topcatalog-head {

    &__back {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .top-catalog {
    &__head {
      background-color: var(--accent);
      padding: 20px 18px;
      color: #fff;

      @media screen and (min-width: $w576) {
        padding: 26px;
      }

    }

    &__aside {

      max-height: calc(100vh - 120px);
      overflow-y: auto;
      overflow-x: hidden;

      & ul {
        & li {

          min-height: 48px;
          align-items: center;
          display: flex;
          gap: 12px;
          cursor: pointer;
          font-size: 14px;
          line-height: 20px;

          padding: 20px 18px;
          border-bottom: 1px solid var(--black-5);

          @media screen and (min-width: $w576) {
            padding: 26px;
          }

          & .icon {
            width: 24px;
            height: 24px;
            display: inline-block;
            border-radius: 6px;
            opacity: 0.2;
            transition: 0.3s ease;
          }

          &.is-active,
          &:hover {
            background-color: var(--black-5);


            & .icon {
              opacity: 1;
            }
          }
        }
      }
    }

    &__content {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      width: 100%;
      transform: translateX(100%);
      transition: 0.3s ease;
      height: 100%;

      &.open-as-pane {
        transform: translateX(0);
      }
    }

    &__subcat {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      padding: 16px;
      max-height: calc(100% - 60px);
      overflow-y: auto;
      overflow-x: hidden;


    }

    &__item {
      width: 100%;

      @media screen and (min-width: $w576) {
        width: calc(50% - 8px);
      }
    }
  }

  .top-cathead {
    background-color: var(--accent);
    padding: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 12px;

    @media screen and (min-width: $w576) {
      padding: 26px;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
    }

    &__prop {

      color: var(--black-10);
      min-height: 32px;
      display: flex;
      align-items: center;
      padding: 0 0;
      font-size: 12px;

      &--cat {
        @media screen and (max-width: $w480) {
          display: none;
        }
      }


      @media screen and (min-width: $w480) {
        font-size: 14px;
        border-left: 1px solid var(--black-10);
        padding: 0 16px;
      }
    }

  }

  .topcatalog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 20px;
      font-weight: 600;

      @media screen and (min-width: $w576) {
        font-size: 28px;
      }
    }

    &__close {

      background-color: var(--black-5);
      border: 1px solid var(--black-5);
      border-radius: 6px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & .icon {
        width: 10px;
        height: 10px;
      }

      @media screen and (min-width: 767.98px) {
        min-width: 28px;
        width: 28px;
        height: 28px;

        border-radius: 8px;
        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    &__back {

      background-color: var(--black-5);
      border: 1px solid var(--black-5);
      border-radius: 8px;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;


      & .icon {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .top-cathead {

    display: flex;
    align-items: center;

    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-right: 18px;
      line-height: 100%;
      margin-top: -3px;
    }

    &__prop {
      border-left: 1px solid var(--black-10);
      color: var(--black-50);
      min-height: 32px;
      display: flex;
      align-items: center;
      padding: 0 16px;
    }


  }
}

.card-subcat {

  border: 1px solid var(--black-10);
  border-radius: 8px;
  padding: 16px;
  height: 100%;

  transition: 0.2s ease;
  transition-property: border;

  @media screen and (min-width: 992px) {
    padding: 20px;
  }

  &:hover {
    border-color: var(--blue-dark);
  }

  &__preview {

    padding-bottom: 24px;

    & picture {
      width: 60px;
      height: 60px;
      display: block;
      background-color: var(--black-5);
      border-radius: 8px;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        display: block;
        object-fit: contain;
        border: none !important;
        outline: none !important;
      }
    }
  }

  &__title {


    & a {
      font-weight: bold;
      color: var(--black-base);

      &:hover {
        color: var(--blue-link);
      }

    }
  }

  &__list {

    padding-top: 24px;

    & li {
      padding: 5px 0;
    }

    & a {
      color: var(--black-base);

      &:hover {
        color: var(--blue-link);
      }
    }

    & span {
      color: var(--black-50);
    }

    &.is-hide {
      & li {
        display: none;

        &:nth-child(-n+5) {
          display: block;
        }
      }

      & .show-more-catalog {
        &::after {
          transform: rotate(0);
        }
      }


    }
  }


}

.show-more-catalog {
  margin-top: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;

  &::after {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: #eee;
    border-radius: 8px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLjYgMS41MUwyLjExIDBsNC44OTMgNC45OEwxMS44OTIgMCAxMy40IDEuNTEgNy4wMDMgOCAuNiAxLjUxeiIgZmlsbD0iIzVDNUU1RiIvPjwvc3ZnPg==);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px auto;
    transform: rotate(180deg);
    transition: 0.3s ease;
  }

  & span {
    color: var(--black-50);
  }

  &:hover {
    color: var(--blue-link);
  }
}