.warn-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  transition: 0.25s ease;

  background: #15181A1A;

  &.is-visible {
    display: block;
  }

  &__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 324px;
  }

  &__content {
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 20px 0 #00000021;
    padding: 20px;
    border-radius: 8px 8px;
    position: relative;
    @media screen and (min-width: 767.98px) {
      padding: 28px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: #15181A;

      @media screen and (min-width: 767.98px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 101;

    min-width: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #D0D1D1;
    background: #FFF;

    svg {
      min-width: 12px;
      width: 12px;
      height: 12px;
      fill: #000;
      stroke: #000;
      stroke-width: 2px;
    }

    @media screen and (min-width: 767.98px) {
      right: 28px;
      top: 28px;
      min-width: 32px;
      width: 32px;
      height: 32px;
      svg {
        min-width: 16px;
        width: 16px;
        height: 16px;
      }
    }
  }

  &__info {
    &-text {
      margin-bottom: 16px;
      @media screen and (min-width: 767.98px) {
        margin-bottom: 18px;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #15181A;
        @media screen and (min-width: 767.98px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &-actions {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @media screen and (min-width: 767.98px) {
        gap: 12px;
      }

      button {
        width: 100%;
        max-height: 32px;

        &.btn-blue {
          font-size: 14px;
          line-height: 20px;
        }

        @media screen and (min-width: 767.98px) {
          max-height: 48px;

          &.btn-blue {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}