.warn-modal {

  width: calc(100vw - 84px);
  max-width: 280px;

  @media screen and (min-width: $w480) {
    width: 280px;
    max-width: none;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: #15181A;

      @media screen and (min-width: 767.98px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }


  &__info {
    &-text {
      margin-bottom: 16px;

      @media screen and (min-width: 767.98px) {
        margin-bottom: 18px;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #15181A;

        @media screen and (min-width: 767.98px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &-actions {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media screen and (min-width: 767.98px) {
        gap: 12px;
      }

      button {
        width: 100%;
        max-height: 32px;

        &.btn-blue {
          font-size: 14px;
          line-height: 20px;
        }

        @media screen and (min-width: 767.98px) {
          max-height: 48px;

          &.btn-blue {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}