@import "../../config";

.service-annotation {
  color: var(--black-70);
  font: 400 10px/1.6 $fontDefault;
  @include desktop {
    font: 400 14px/20px $fontDefault;
    max-width: 70%;
  }

  p {
    margin: 0;
  }
}
