@import "../cards/card-achieve";

.service-success {
  background: var(--black-5);
  padding-block: 46px;
  @include tablet {
    padding-block: 60px;
  }
  @include desktop {
    padding-block: 80px 76px;
  }

  h2 {
    font: normal 700 16px/1.5 "Roboto", sans-serif;
    margin-bottom: 29px;
    @include tablet {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 40px;
    }

  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;

    &-item {
      width: calc(50% - 6px);
      container-type: inline-size;
    }
  }
}
