<div class="mx-goods__goods">
  <div class="splide" data-slider="splide-goods">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          @@include('./mx-goods-item-1.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-2.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-3.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-1.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-2.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-3.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-1.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-2.html')
        </li>
        <li class="splide__slide">
          @@include('./mx-goods-item-3.html')
        </li>
      </ul>
    </div>
  </div>
</div>
