<!--i-goods order карточка заказа-->
<div class="mx-goods__item main-goods-item i-goods--order">
    <a href="#" class="main-goods-item__item-img">
        <picture>
            <img src="/images/goods/i_goods-a001.png" alt="mx-goods">
        </picture>
        <div class="main-goods-item__item-additions-like">
            <div class="mx-like">
                <i class="icon"
                   style="background-image: url('/images/icons/ic_like.svg')"></i>
            </div>
        </div>
        <div class="main-goods-item__item-additions-top">
            <div class="mx-popular">Хит продаж</div>
        </div>
    </a>
    <div class="main-goods-item__item-content">
        <div class="main-goods-item__item-content_info">
            <div class="in-stock">
                <i class="icon"
                   style="background-image: url('/images/icons/ic_order.svg')"></i>
                Онлайн-заказ
            </div>
            <a href="#" class="main-goods-item__item-good">Фанера берёзовая ФК 6мм сорт IV/IV
                НШ Е1
                1525 × 1525мм Свеза</a>
            <div class="main-goods-item__item-info">
                <ul>
                    <li>Длина (мм): <span>1525</span></li>
                    <li>Ширина (мм): <span>1525</span></li>
                    <li>Толщина (мм): <span>6</span></li>
                    <li>Сорт: <span>1/2</span></li>
                </ul>
            </div>
        </div>
        <div class="main-goods-item__item-content_action">
            <button class="btn-blue">В корзину</button>
            <form action="#">
                <button type="button" class="counter__btn decrement">
                    <i class="icon"
                       style="background-image: url('/images/icons/ic_minus_000.svg')"></i>
                </button>
                <input type="text" aria-label="" class="counter__input" value="0">
                <button type="button" class="counter__btn increment">
                    <i class="icon"
                       style="background-image: url('/images/icons/ic_plus.svg')"></i>
                </button>
            </form>
        </div>

    </div>
</div>
