<section class="brand-categories">
  <div class="_container">
    <h3>Категории, где представлен бренд</h3>

    <div class="splide brand__slider-cat">
      <div class="splide__track">
        <div class="splide__list">
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category01.webp","title": "Теплоизоляция"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category02.webp","title": "Звукоизоляция"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category03.webp","title": "Фасад"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category04.webp","title": "Кровля"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category05.webp","title": "Пароизоляция"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category06.webp","title": "Огнезащита"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category01.webp","title": "Теплоизоляция"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category02.webp","title": "Звукоизоляция"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category03.webp","title": "Фасад"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category04.webp","title": "Кровля"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category05.webp","title": "Пароизоляция"})
          @@include("./category-slide.html",{"url": "#", "img": "/images/brand/category06.webp","title": "Огнезащита"})
        </div>
      </div>
    </div>
  </div>
</section>
