<section class="brand-title">
  <div class="_container">

    <div class="flex brand-title__name">
      <h1>Производитель ROCKWOOL</h1>
      <div class="brand-title__goods">756 товаров</div>
    </div>

    <div class="flex brand-title__guarantee">
      @@include('../brands/brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      <div class="guarantee flex">
        <img src="/images/icons/ic_guarantee.svg" alt="Гарантия" class="guarantee__icon">
        <div class="guarantee__text">Выбор профессионалов и гарантированная надежность качества</div>
      </div>
      <button class="btn-custom" popovertarget="atestilo">
        <img class="icon" src="/images/icons/ic_eye_.svg" alt="">
        <span>Сертификат дилера</span>
      </button>
    </div>

    <div class="brand-title__description">
      Продукция бренда поможет сэкономить время и деньги. Компания-производитель внедряет современные технологические решения, чтобы при наименьшей цене товаров качество результата было максимальным.
    </div>

    <div class="flex brand-title__features">
      @@include("./brand-feature.html", {"icon":"/images/icons/ic_star2.svg","description":"Эффективные решения, подтверждённые испытаниями."})
      @@include("./brand-feature.html", {"icon":"/images/icons/ic_branches.svg","description":"Различные вариации решений  под любые проекты."})
      @@include("./brand-feature.html", {"icon":"/images/icons/ic_like2.svg","description":"Уверенность в результате  по доступной цене."})
    </div>

  </div>
  <div popover id="atestilo" class="popover">
    <div class="popover-wrapper v-flex">
      <div class="popover-header flex">
        <h3>Сертификат дилера</h3>
        <button popovertarget="atestilo"></button>
      </div>
      <div class="popover-image">
        <picture>
          <img src="/images/brand/atestilo.webp" alt="Сертификат" loading="lazy">
        </picture>
      </div>
    </div>
  </div>
</section>
