<section class="brand-slider">
  <div class="_container">

    <div class="splide brand__slider">
      <div class="splide__track">
        <div class="splide__list">
          <div class="splide__slide">
            @@include("./brand-slide.html", {"img": "/images/brands/good01.webp", "title": "Теплоизоляция, изготовленная  из натуральной каменной ваты"})
          </div>
          <div class="splide__slide">
            @@include("./brand-slide.html", {"img": "/images/brands/good01.webp", "title": "Теплоизоляция, изготовленная  из натуральной каменной ваты"})
          </div>
          <div class="splide__slide">
            @@include("./brand-slide.html", {"img": "/images/brands/good01.webp", "title": "Теплоизоляция, изготовленная  из натуральной каменной ваты"})
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
