.mx-collections {
  overflow: hidden;

  &__heading {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 767.98px) {
      margin-bottom: 28px;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    a {
      width: fit-content;

      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      color: #15181A;
      position: relative;
      transition: .1s ease;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background: #15181A;
      }

      @media screen and (min-width: 767.98px) {
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
      }
      @media screen and (min-width: 991.98px) {
        &:hover {
          color: #007AFF;

          &:before {
            background: #007AFF;
          }
        }
      }
    }
  }

  &__collections {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    overflow: hidden;
    padding: 20px;
    border: 1px solid #D0D1D1;
    border-radius: 8px;
    background: #F3F3F3;
    transition: .1s ease;

    //display: flex;
    //flex-direction: column;

    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 16px;
      @media screen and (min-width: 767.98px) {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;

      }
    }

    button {
      margin-top: 20px;
      border: none;
      transition: .1s ease;
      @media screen and (min-width: 767.98px) {
        margin-top: 32px;
      }
      @media screen and (min-width: 991.98px) {
        &:hover {
          color: #FFF;
          background: #19BEFF;
        }
      }

    }

    @media screen and (min-width: 991.98px) {
      &:hover {
        border-color: #19BEFF;
      }
    }
  }

  &__item-el {
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: .1s ease;
    @media screen and (min-width: 767.98px) {
      gap: 8px;
    }
    @media screen and (min-width: 991.98px) {
      &:hover {
        picture {
          border-color: #19BEFF;
        }

      }
    }

    picture {
      position: relative;
      display: block;
      padding-bottom: 100%;
      height: 0;
      overflow: hidden;
      backface-visibility: hidden;

      border: 1px solid #D0D1D1;
      border-radius: 8px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
      }
    }

    p {
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
      color: #15181A;
      @media screen and (min-width: 767.98px) {
        font-size: 12px;
      }
    }
  }

  .splide[data-slider="mx-splide-collections"] {
    .splide__track {
      @media screen and (min-width: 767.98px) {
        overflow: initial;
      }
      @media screen and (min-width: 1439.98px) {
        overflow: hidden;
      }
    }

    .splide__list {
      @media screen and (min-width: 1439.98px) {
        display: flex !important;
        flex-wrap: wrap;
        gap: 16px;
      }
    }

    .splide__slide {
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      @media screen and (min-width: 1439.98px) {
        flex: 1;
        min-width: 45%;
      }
    }
  }

  .splide[data-slider="splide-collections"] {
    .splide__track {
      overflow: initial;
    }

    .splide__list {
      display: flex;
      @media screen and (min-width: 1439.98px) {
        display: flex !important;
        flex-wrap: nowrap;
        gap: 0;
      }
    }

    .splide__slide {

      &:not(:last-child) {
        margin-bottom: 0;
      }

      @media screen and (min-width: 1439.98px) {
        flex: 0;
        width: 100px !important;
        max-width: 100%;
        min-width: 100px;
      }
    }
  }
}
