<section id="brands-popular">
  <div class="_container">
    <h3>Популярные бренды</h3>
    <div class="splide brands__popular">
      <div class="splide__track">
        <div class="splide__list">
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
          </div>
          <div class="splide__slide">
            @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
