<section id="brands-all">
  <div class="_container">
    <h3>Все бренды</h3>
    <div class="brands__grid">
      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})

      @@include('./brand-item.html',{"title": "Rockwool", "src": "/images/brands/rockwool.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Knauf", "src": "/images/brands/knauf.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Свеза", "src": "/images/brands/sveza.webp", "url": "#"})
      @@include('./brand-item.html',{"title": "Segezha", "src": "/images/brands/segezha.webp", "url": "#"})
    </div>
  </div>
</section>
