@import "../config";

$fontDefault: "Roboto" sans-serif;
$fontSize: "";
$mainColor: #15181A;


:root {
  --container-padding: 18px;
  @include tablet {
    --container-padding: 32px;
  }
  @include desktop {
    --container-padding: 40px;
  }
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  @include scrollbar();

  & a {
    color: var(--accent);
  }
}


body {
  color: $mainColor;
  font-family: $fontDefault;
  font-size: $fontSize;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.safari-fixed {
  height: calc(100vh - 1px);
  overflow: hidden !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main {
  flex: 1 0 auto;
}

._container {
  padding: 0 var(--container-padding);
  margin: 0 auto;

  @media screen and (min-width: 479.98px) {
    max-width: 480px;
  }

  @media screen and (min-width: 575.98px) {
    max-width: 576px;
  }

  @media screen and (min-width: 767.98px) {
    max-width: 768px;
  }

  @media screen and (min-width: 991.98px) {
    max-width: 992px;
  }

  @media screen and (min-width: 1199.98px) {
    max-width: 1360px;
  }

}

.hidden {
  display: none;
}

.hidden-mobile {
  @media screen and (max-width: 575px) {
    display: none !important;
  }
}

.visible-mobile {
  @include tablet {
    display: none !important;
  }
}

.visible-desktop {
  @media screen and (max-width: $w1024) {
    display: none !important;
  }
}

.block-mobile {
  @media screen and (max-width: $w360) {
    display: block !important;
  }
}

section {
  margin: 60px 0;

  @media screen and (min-width: 767.98px) {
      margin: 80px 0;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.v-flex {
  display: flex;
  flex-direction: column;
}
