@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInMax {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-animation {
  0% {
    transform: scaleY(0.1) rotateX(90deg);
    opacity: 0;
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1) rotateX(0deg);
    opacity: 1;
    transform-origin: bottom;
  }
}

@keyframes dropdown-animation-t {
  0% {
    transform: scaleY(0.1) rotateX(90deg);
    opacity: 0;
    transform-origin: top;
  }
  100% {
    transform: scaleY(1) rotateX(0deg);
    opacity: 1;
    transform-origin: top;
  }
}

@keyframes dropdown-animation-a {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

@keyframes dropdown-animation-ttp {
  0% {
    transform: scaleY(0.1) rotateX(90deg);
    opacity: 0;
    transform-origin: top;
  }
  100% {
    transform: scaleY(1) rotateX(0deg);
    opacity: 1;
    transform-origin: top;
  }
}

@keyframes reverse-overlay {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fillProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


@keyframes rotate-image {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

@keyframes rotate-content {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
    visibility: visible;
  }
}
 
@keyframes showBlockRtoL {
  0% {
    height: 0;
  }
  100% {
    height: calc((var(--vh, 1vh) * 100) - 60px);
  }
}

@keyframes showBlockLtoT {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}