<ul class="article__share-list">
  <div class="article__share-list-title">Поделиться</div>

  <li>
    <a target="_blank"
      href="https://t.me/share/url?url=https://mottex.ru/article/123&text=Виды%20и%20размеры%20профилей%20для%20гипсокартона"
      class="article__share-item">
      <i class="icon-m" style="mask-image: url(/images/icons/im_tg.svg)"></i>
    </a>
  </li>

  <li>
    <a target="_blank"
      href="https://vk.com/share.php?url=https://mottex.ru/article/123&title=Виды%20и%20размеры%20профилей%20для%20гипсокартона&comment=Строительные материалы Mottex"
      class="article__share-item">
      <i class="icon-m" style="mask-image: url(/images/icons/ic_vk_000.svg)"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="mailto:?subject=Новости Mottex&body=Виды%20и%20размеры%20профилей%20для%20гипсокартона"
      class="article__share-item">
      <i class="icon-m" style="mask-image: url(/images/icons/ic_mail_000.svg)"></i>
    </a>
  </li>

  <li>
    <a target="_blank"
      href="https://wa.me/?text=Виды%20и%20размеры%20профилей%20для%20гипсокартона%20https://mottex.ru/article/123"
      class="article__share-item">
      <i class="icon-m" style="mask-image: url(/images/icons/ic_whatsapp.svg)"></i>
    </a>
  </li>

  <li>
    <a target="_blank" href="viber://forward?text=Your%20Title%20https://your-link.com" class="article__share-item">
      <i class="icon-m" style="mask-image: url(/images/icons/ic_viber.svg)"></i>
    </a>
  </li>

  <li>
    <button class="article__share-item" data-action="copy-url">
      <i class="icon-m" style="mask-image: url(/images/icons/ic_chain.svg)"></i>
    </button>
  </li>

</ul>
