<ul class="article__share-list">
  <div class="article__share-list-title">Поделиться</div>
  <li><a href="#" class="article__share-item">
    <i class="icon-m" style="mask-image: url(/images/icons/im_tg.svg)"></i>
  </a></li>
  <li><a href="#" class="article__share-item">
    <i class="icon-m" style="mask-image: url(/images/icons/ic_vk_000.svg)"></i>
  </a></li>
  <li><a href="#" class="article__share-item">
    <i class="icon-m" style="mask-image: url(/images/icons/ic_mail_000.svg)"></i>
  </a></li>
  <li><a href="#" class="article__share-item">
    <i class="icon-m" style="mask-image: url(/images/icons/ic_whatsapp.svg)"></i>
  </a></li>
  <li><a href="#" class="article__share-item">
    <i class="icon-m" style="mask-image: url(/images/icons/ic_viber.svg)"></i>
  </a></li>
  <li><button class="article__share-item" data-action="copy-url">
    <i class="icon-m" style="mask-image: url(/images/icons/ic_chain.svg)"></i>
  </button></li>
</ul>
