<li><a href="#">Фанера, все виды <span>2374</span></a></li>
<li><a href="#">Плита OSB <span>124</span></a></li>
<li><a href="#">ЦСП <span>107</span></a></li>
<li><a href="#">ДСП <span>64</span></a></li>
<li><a href="#">Фанера, все виды <span>2374</span></a></li>
<li><a href="#">Плита OSB <span>124</span></a></li>
<li><a href="#">ЦСП <span>107</span></a></li>
<li><a href="#">ДСП <span>64</span></a></li>
<li><a href="#">Фанера, все виды <span>2374</span></a></li>
<li><a href="#">Плита OSB <span>124</span></a></li>
<li><a href="#">ЦСП <span>107</span></a></li>
<li><a href="#">ДСП <span>64</span></a></li>
<li><a href="#">Фанера, все виды <span>2374</span></a></li>
<li><a href="#">Плита OSB <span>124</span></a></li>
<li><a href="#">ЦСП <span>107</span></a></li>
<li><a href="#">ДСП <span>64</span></a></li>
