@import "../config";

:root {
  --about-slider-delay: 0.4s;
}

.about-company {
  &__video {
    --play-button-icon: url('/images/icons/ic_play_round.svg');
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__text {
    margin-block: 40px;
    @include tablet {
      margin-block: 80px;
    }
    @include desktop {
      margin-block: 120px;
    }

    .formated-text {
      h2 {
        font: 700 20px/26px "Roboto", sans-serif;
        @include tablet {
          font: 700 28px/36px "Roboto", sans-serif;
          margin-bottom: 1em;
        }
      }

      p {
        @include tablet {
          font-size: 16px;
          line-height: 1.5;
          margin-block: 28px;
        }
      }

      @include desktop {
        width: 65%;
        margin-bottom: 120px;
      }
    }
  }

  &__persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-block: 40px;
    @include tablet {
      margin-block: 80px 120px;
    }
    @include desktop {
      margin-block: 120px;
    }
  }

  &__success {
    background: var(--black-5);
    padding-block: 32px;
    @include tablet {
      padding-block: 60px;
    }
    @include desktop {
      padding-block: 80px 76px;
    }

    h2 {
      font: normal 700 20px/1.4 "Roboto", sans-serif;
      margin-bottom: 20px;
      @include tablet {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 40px;
      }

    }

    &-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block: 40px;
    @include tablet {
      margin-block: 80px 120px;
    }
    @include desktop {
      margin-block: 120px 192px;
    }

    summary {
      font: 700 20px/1.4 $fontFamily;
    }

    details {
      &[open] {
        outline: none
      }
      &:hover {
        outline: 1px solid var(--accent);
      }

    ;
    }


    &-grid {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;
      @include tablet {
        margin-top: 28px;
        grid-template-columns: repeat(3, 1fr);
      }
      @include desktop {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__history {
    margin-block: 40px;
    @include tablet {
      margin-block: 120px;
    }

    h2 {
      font: 700 28px/36px $fontFamily;
    }
  }

  &__slider {
    margin-top: 40px;

    @include tablet {
      margin-inline: calc(50% - 50vw);
    }

    @media screen and (min-width: 1200px) {
      margin-inline: 0;
    }

    &-timeline {
      margin-top: 20px;
      height: 32px;
      background-image: url("/images/about/timeline.svg");
      background-position-x: 0;
      background-size: cover;
      transition: var(--about-slider-delay);

      @include tablet {
        height: 48px;
        margin-top: 40px;
      }
    }
  }

  .video {
    background: var(--black-5);
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }
}