@import "../config";

.page-brand,
.page-brands {
    .splide {
      &__arrow {
        --size: 48px;
        --offset: -24px;
        background: var(--white);
        border: 1px solid var(--black-20);
        width: var(--size);
        height: var(--size);
        opacity: 1;

        &:disabled {
          opacity: .3;
        }

        @media (width < 768px) {
          --size: 32px;
          --offset: -16px;
        }

        &--prev {
          left: var(--offset);
        }
        &--next {
          right: var(--offset);
        }
      }
    }
}

.page-brand {
  h3 {
    font: 700 24px/32px $fontDefault;
    margin-bottom: 32px;

    @media (width < 768px) {
      font: 700 16px/24px $fontDefault;
      margin-bottom: 13px;
    }
  }
}


.brand-title {
  margin-top: 20px;
  margin-bottom: 40px;

  &__name {
    gap: 16px;
    margin-bottom: 32px;
  }

  &__goods {
    font: 500 16px/1.5 $fontDefault;
    color: var(--black-50);
  }

  &__guarantee {
    outline: 1px solid var(--black-20);
    justify-content: space-between;
    border-radius: 8px;
    padding-right: 40px;

    @media (width < 1024px) {
      flex-direction: column;
      padding: 20px;
      gap: 20px;
    }

    @media (width < 768px) {
      padding: 12px;
      gap: 12px;
    }

    .brand-item {
      border: none;
      outline: 1px solid var(--black-20);


      @media (width < 1024px) {
        margin-top: -20px;
        margin-inline: -20px;
        align-self: stretch;
        width: auto !important;
      }

      @media (width < 768px) {
        margin-top: -12px;
        margin-inline: -12px;
      }
    }

    .icon {
      margin-right: 8px;
    }

    button {
      @media (width < 1024px) {
        width: 100%;
        max-width: 464px;
      }
    }
  }

  &__description {
    max-width: 640px;
    margin-block: 32px;
    font: 400 16px/1.5 $fontDefault;

    @media (width < 768px) {
      font: 400 12px/16px $fontDefault;
    }
  }

  .guarantee {
    &__icon {
      margin-right: 8px;
      @media (width < 768px) {
        width: 20px;
        height: 20px;
      }
    }
    &__text {
      @media (width < 1024px) {
        max-width: 374px;
      }
      @media (width < 768px) {
        font: 400 12px/16px $fontDefault;
        max-width: 263px;
      }
    }
  }

  &__features {
    gap: 16px;
    margin-block: 32px;

    @media (width < 1024px) {
      overflow: auto;
      margin-bottom: 16px;
      padding-bottom: 16px;
    }

    @media (width < 768px) {
      overflow: visible;
      gap: 12px;
      flex-direction: column;
      padding-bottom: 0;
    }

  }
}

.brand-feature {

  @media (width < 1024px) {
    width: 416px;
    flex-shrink: 0;
  }

  @media (width < 768px) {
    width: 100%;
  }

  &__icon {
    width: 120px;
    height: 120px;
    border: 1px solid var(--black-20);
    border-radius: 8px;
    flex: 0 0 120px;
    margin-right: 12px;

    @media (width < 768px) {
      width: 72px;
      height: 72px;
      flex-basis: 72px;
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      display: block;
      margin: 30px;

      @media (width < 768px) {
        width: 40px;
        height: 40px;
        margin: 16px;
      }
    }
  }

  &__description {
    font: 400 16px/1.5 $fontDefault;
    text-wrap: balance;

    @media (width < 768px) {
      font: 400 12px/16px $fontDefault;
    }
  }
}

.brand-slider {
  margin-top: 40px;
}

.brand-slide {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  picture {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link {
    display: block;
    position: absolute;
    left: 60px;
    bottom: 60px;
    font: 700 24px/32px $fontDefault;
    color: var(--white);
    max-width: 45%;

    @media (width < 1024px) {
      left: 32px;
      bottom: 32px;
    }

    @media (width < 768px) {
      left: 20px;
      bottom: 20px;
      font: 400 12px/16px $fontDefault;
    }
  }
}

.category-slide {
  display: flex;
  flex-direction: column;
  gap:20px;
  background: #f6f6f6;
  padding: 20px;
  border-radius: 8px;

  .title {
    height: 1lh;
    font: 500 16px/1 $fontDefault;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #15181A;
  }

  picture {
    display: block;
    aspect-ratio: 4 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.brand-catalogue {
  .mx-collection-details__goods-grid {
    margin-top: 16px;
  }
}

.popover {
  margin: auto;
  padding: 0;
  border-radius: 8px;

  &::backdrop {
    background: rgba(0,0,0,.1);
  }

  &-wrapper {
    max-width: 1280px;
    max-height: calc(100vh - 120px);
    padding: 28px;
    background: var(--white);

    @media (width < 1344px ) {
      max-width: calc(100vw - 64px);
    }
    @media (width < 768px ) {
      max-width: calc(100vw - 36px);
      padding: 20px;
    }
  }

  &-header {
    justify-content: space-between;
    margin-bottom: 28px;

    @media (width < 768px ) {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 0 !important;
    }

    button {
      display: flex;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      border: 1px solid var(--black-20);
      align-items: center;
      justify-content: center;
      background-color: transparent;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjcxNDg0IDEzLjAyODZMNi43NDMxNiA4LjAwMDI0TDYuNzQzMTcgOC4wMDAyM0wxLjcxNDg2IDIuOTcxOTJMMi45NzE5NCAxLjcxNDg0TDguMDAwMjUgNi43NDMxNkwxMy4wMjg2IDEuNzE0ODRMMTQuMjg1NiAyLjk3MTkyTDkuMjU3MzMgOC4wMDAyNEwxNC4yODU2IDEzLjAyODZMMTMuMDI4NiAxNC4yODU2TDguMDAwMjUgOS4yNTczMkw4LjAwMDI0IDkuMjU3MzFMOC4wMDAyNCA5LjI1NzMyTDIuOTcxOTIgMTQuMjg1NkwxLjcxNDg0IDEzLjAyODZaIiBmaWxsPSIjMTUxODFBIi8+Cjwvc3ZnPgo=);
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
      cursor: pointer;

      @media (width < 768px) {
        width: 24px;
        height: 24px;
        background-size: 12px;
      }

      @media (any-hover: hover) {
        &:hover {
          opacity: .6;
        }
      }

    }
  }
  picture {
    display: block;
    max-height: calc(100vh - 240px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: calc(100vh - 240px);
    }
  }
}
