@import "../config";

.discount {

  &__banner {
    margin-block: 20px 15px;
  }

  &__goods {
    margin-block: 40px 30px;
  }

  &__tags {
    margin-block: 30px;
  }

  &__description {
    max-width: 960px;
  }

  &__advantages {
    max-width: 960px;
  }

}
