@import "../config";

.favorites {

  .breadcrumbs {
    margin-bottom: 10px;
  }

  &__heading {
    @include tablet {
      margin-block: 20px 40px;
    }
    h1 {
      font: 700 24px/32px $fontDefault;
      @include tablet {
        font: 500 32px/40px $fontDefault;
      }
    }
  }

  &__content {
    margin-block: 30px 80px;
  }

  .mx-bd-catalog__catalog-heading {
    .catalog-views {
      @include tablet {
        padding: 3px;
      }
    }
    .dropdown__toggle {
      @include tablet {
        padding-block: 11px;
      }
    }
  }

  .mx-bd-catalog__wrapper {
    padding-bottom: 23px;
    border-bottom: 1px solid var(--black-20);
    @include tablet {
      border: none;
      padding-bottom: 40px;
    }
    @include desktop {
      gap: 16px;
    }
  }

  &__buttons-wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 28px;

    @include tablet {
      gap: 17px;
      margin-bottom: 40px;
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex: 0 0 416px;
    }

    button {
      width: 100%;
      font: 12px/16px $fontDefault;

      @include tablet {
        font: 16px/1.5 $fontDefault;
      }

      i {
        margin-right: 2px;
        @include tablet {
          margin-right: 8px;
        }
      }
    }

  }
}