@import "../config";

.services {

  .breadcrumbs {
    margin-bottom: 9px;
  }

  &__heading {
    margin-top: 0;

    h1 {
      font: 700 24px/32px $fontDefault;
      margin-top: 0;
      margin-bottom: 30px;
    }

    p {
      font: 400 12px/16px $fontDefault;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    @include tablet {
      gap: 16px;
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
