<div class="action-panel">
    <div class="action-panel__container _container">
        <div class="action-panel__config config-action">
            <div class="config-action__btn config-menu" data-target="menu">
                <div class="config-action__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="config-action__name">Меню</div>
            </div>
            <a href="/" class="config-action__btn config-main">
                <div class="config-action__icon">
                    <i class="icon" style="background-image: url('/images/icons/ic_main-clr.svg')"></i>
                </div>
                <div class="config-action__name">Главная</div>
            </a>
            <div class="config-action__btn config-catalog" data-target="topcatalog">
                <div class="config-action__icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="config-action__name">Каталог</div>
            </div>
            <div class="config-action__btn config-favourite">
                <div class="config-action__icon">
                    <i class="icon" style="background-image: url('/images/icons/ic_favourite-clr.svg')"></i>
                    <div class="count">
                        <span>7</span>
                    </div>
                </div>
                <div class="config-action__name">Избранное</div>
            </div>
            <div class="config-action__btn config-cart" data-target="cart">
                <div class="config-action__icon">
                    <i class="icon" style="background-image: url('/images/icons/ic_cart-clr.svg')"></i>
                    <div class="count">
                        <span>5</span>
                    </div>
                </div>
                <div class="config-action__name">Корзина</div>
            </div>
        </div>
    </div>
</div>