<div class="blog-item__wrapper">
  <div class="blog-item">
    <div class="blog-item__image">
      <picture>
        <img src="@@image" alt="@@title">
      </picture>
      @@if (badge) {
        <div class="blog-item__badge">@@badge</div>
      }
      <div class="blog-item__date">@@date</div>
      <div class="blog-item__title-wrapper">
        <div class="blog-item__title"><a href="#">@@title</a></div>
        <a class="button btn-blue" href="#">Читать</a>
      </div>
      <div class="blog-item__time"><i class="icon" style="background-image: url(/images/icons/ic_timer.svg)"></i>@@time</div>
    </div>
  </div>
</div>
