<section class="mx-goods mx-goods--viewed">
  <div class="mx-goods__container _container">
    <h2>Вы смотрели <span> @@name </span> </h2>
    <div class="mx-goods__goods">
      <div class="splide" data-slider="splide-goods">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-1.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-2.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-3.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-1.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-2.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-3.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-1.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-2.html')
            </li>
            <li class="splide__slide">
              @@include('mx-goods/mx-goods-item-3.html')
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
