<div class="mx-cart-member">
    <div class="mx-cart-member__image">
        <picture>
            <img src="/images/numbers/member.jpg" alt="">
        </picture>
        <a href="/images/numbers/member.jpg" data-fslightbox="team">
            <i style="background-image: url('/images/icons/ic_eye.svg')"></i>
        </a>
    </div>
    <div class="mx-cart-member__main">
        <div class="mx-cart-member__title">Ирина Кузнецова</div>
        <div class="mx-cart-member__post">Руководитель отдела</div>
        <div class="mx-cart-member__contact">
            <a href="mailto:ikuznecova@mottex.ru">ikuznecova@mottex.ru</a>
        </div>
    </div>
</div>