<div class="pagination">
  <div class="pagination-more">
    <button class="btn-gray">Показать ещё</button>
  </div>
  <div class="pagination-page">
    <div class="pagination">
      <div class="pagination__page">
        <ul>
          <li class="active"><span>1</span></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><span>...</span></li>
          <li><a href="#">18</a></li>
          <li><a href="#">19</a></li>
          <li><a href="#">20</a></li>
          <li class="next">
            <a href="#">
              <i class="icon"
                 style="background-image: url('/images/icons/ic_arrow-rt-black.svg')"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
