<section class="section-select-region" :class="{'is-open': isOpen}">
    <div class="_container">
        <div class="select-region">
            <div class="select-region__head">
                <div class="select-region__logo">
                    <a href="./" aria-label="home">
                        <i class="icon" style="background-image: url('./images/icons/ic_logo-mtx.svg')"></i>
                        <span class="c-name">Материалы для любой стройки</span>
                    </a>
                </div>
                <div class="select-region__close" @click="closePopup()">
                    <i class="icon" style="background-image: url('./images/icons/ic_close.svg')"></i>
                </div>
            </div>

            <div class="select-region__find">
                <input type="text" v-model="searchInput" placeholder="Введите название города">
                <span class="run-search">
                    <i class="icon" style="background-image: url('./images/icons/ic_search.svg')"></i>
                </span>
            </div>

            <div v-if="cityArray.length" class="select-region__fast">
                <ul>
                    <li><a href="/">Челябинск</a></li>
                    <li><a href="/">Санкт-Петербург</a></li>
                    <li><a href="/">Воронеж</a></li>
                    <li><a href="/">Волгоград</a></li>
                    <li><a href="/">Екатеринбург</a></li>
                    <li><a href="/">Казань</a></li>
                    <li><a href="/">Краснодар</a></li>
                    <li><a href="/">Красноярск</a></li>
                    <li><a href="/">Новосибирск</a></li>
                    <li><a href="/">Нижний Новгород</a></li>
                    <li><a href="/">Омск</a></li>
                    <li><a href="/">Пермь</a></li>
                    <li><a href="/">Ростов-на-дону</a></li>
                    <li><a href="/">Самара</a></li>
                    <li><a href="/">Уфа</a></li>
                </ul>
            </div>

            <div class="select-region__scroll" v-if="cityArray.length">
                <div class="select-region__cities">

                    <div v-for="item in getArrayCity" :key="item.name" class="select-region__group">
                        <div class="select-region__symbol">{{item.letter}}</div>
                        <div class="select-region__list">
                            <ul>
                                <li  v-for="city,i in item.city" :key="city.name + i">
                                    <a :class="{'is-active':city.current}" href="/">{{city.name}} <span v-if="city.current" class="city-selected" ></span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="select-region__load" v-else>
                @@include('spinner.html')
            </div>

            <div class="select-region__notfound">
                Не нашли свой город? У нас есть <span>доставка по России</span>
            </div>



        </div>
    </div>
</section>