<div class="warn-modal">
    <div class="warn-modal__bg">
        <div class="warn-modal__content">
            <div class="warn-modal__heading">
                <h2>Закрыть окно?</h2>
                <div class="warn-modal__close close-warn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" tabindex="-1">
                        <path d="M20 20L4 4m16 0L4 20"></path>
                    </svg>
                </div>
            </div>
            <div class="warn-modal__info">
                <div class="warn-modal__info-text">
                    <p>Вопрос не сохранится, <br> если вы закроете окно</p>
                </div>
                <div class="warn-modal__info-actions">
                    <button class="btn-blue">Закрыть</button>
                    <button class="btn-custom">Остаться</button>
                </div>
            </div>
        </div>
    </div>
</div>