<div class="mx-main-catalog__card card-mx">
    <div class="card-mx__heading">
        <div class="card-mx__heading-title">@@title</div>
        <div class="card-mx__heading-action">
            <i class="icon" style="background-image: url('/images/icons/ic_reverse.svg')"></i>
        </div>
    </div>
    <div class="card-mx__props">
        <picture>
            <img src="@@image" alt="@@title">
        </picture>
        <div class="card-mx__property">
            <ul>
                @@include('@@properties')
            </ul>
        </div>
    </div>
</div>
