
.cheaper-success {
    max-width: 480px;
  }
  .cheaper-success__title {
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 1px;
    padding-right: 33px;
    line-height: 140%;
  }
  .cheaper-success__desc {
    padding-bottom: 39px;
    line-height: 149%;
    font-size: 16px;
  }
 

  
.cheaper-success__tocart button {
  background-color: var(--accent);
  color: #fff;
  height: 45px;
  font-size: 16px;
  padding: 0 1.6em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }
}
.cheaper-success__tocart {
  padding-bottom: 30px;
  margin-top: -22px;
}