.details-product {

  padding-top: 50px;

  &__sticky {
    border-top: 1px solid var(--black-10);
    border-bottom: 1px solid var(--black-10);
    padding: 6px 0;
  }

  &__group {
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  &__label {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 24px;
  }

  &__content {
    & table {
      display: table;
      width: 100%;

      & tr {
        display: table-row;

        & td {
          display: table-cell;
          width: 50%;
          padding: 10px 8px;
          border-bottom: 1px solid var(--black-10);
        }

        & td:first-child {
          color: var(--black-50);
        }
      }
    }

    & .formated-text {
      font-size: 16px;

      &>:first-child {
        margin-top: 0;
      }

      & ul {
        padding-left: 0;

        & li {
          &::before {
            background-color: transparent;
            border-left: 2px solid var(--black-base);
            border-bottom: 2px solid var(--black-base);
            width: 14px;
            height: 8px;
            transform: rotate(-45deg);
            top: 4px;
          }
        }
      }
    }
  }

  &__file {
    padding-bottom: 12px;
    max-width: 416px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
