@import "../../config";

.card-service-a {
  $ancestor: &;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: inherit;

  &__media {
    position: relative;
    aspect-ratio: 4 / 3;
    @include tablet {
      aspect-ratio: 1.44;
    }
    @include desktop {
      aspect-ratio: 1.289;
    }
  }

  &__picture {
    position: absolute;
    inset: 0;
    opacity: 1;
    z-index: 2;
    transition: opacity .4s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .playing & {
      @include desktop {
        opacity: 0;
      }
    }
  }

  &__video {
    position: absolute;
    inset: 0;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 12px;
    background: var(--black-5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    @include tablet {
      padding: 20px;
    }
  }

  &__title {
    font: 500 12px/16px $fontDefault;
    margin-bottom: 4px;
    @include tablet {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
    }

    #{$ancestor}:hover & {
      @include desktop {
        color: var(--blue-link);
      }
    }
  }

  &__description {
    font: 400 8px/1.5 $fontDefault;
    margin-bottom: 8px;
    @include tablet {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  .btn-blue {
    padding: 4px 8px;
    @include tablet {
      padding: 12px;
    }
  }
}
