.mx-catalog-goods {
    margin: 12px 0 40px;

    &.mx-catalog-goods--heading {
        margin-bottom: 28px;

        @media screen and (min-width: 767.98px) {
            margin-bottom: 40px;
        }

        .mx-catalog-goods__heading {
            margin-bottom: 0px;
        }
    }

    +.mx-bd-catalog--last-lvl {
        margin: 0;
    }

    @media screen and (min-width: 767.98px) {
        margin: 20px 0 60px;
    }

    &__heading {
        display: inline;
        align-items: center;
        gap: 12px;
        margin-bottom: 28px;
        width: 100%;

        @media screen and (min-width: 767.98px) {
            gap: 16px;
            margin-bottom: 40px;
        }

        h1 {
            max-width: calc(100% - 95px);
            display: inline;

            @media screen and (min-width: 479.98px) {
                max-width: initial;
            }
        }

        &-count {

            display: inline;
            margin-left: 5px;
            position: relative;
            top: -2px;
            line-height: 140%;

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #8A8C8D;
                white-space: nowrap;

                @media screen and (min-width: 767.98px) {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        @media screen and (min-width: 767.98px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }

        @media screen and (min-width: 1199.98px) {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

.mx-catalog-goods__heading+.mx-catalog-goods__cards {
    margin-top: 30px
}
