@import "../../config/vars";
@import "../../config/mixins";

.mx-collection-details {
  margin-top: 40px;

  @media (max-width: $w576) {
    margin-top: 28px;
  }

  h3 {
    font: normal 700 24px/32px "Roboto", sans-serif;
    color: var(--black-base);
    margin-block: 40px 28px;
    @media screen and (max-width: $w576) {
      font-size: 16px !important;
      line-height: 24px !important;
      margin-bottom: 16px !important;
    }
  }

  &__banner {
    height: 464px;
    position: relative;
    border-radius: 8px;
    background-size: 72%;
    background-position: 100% 5%;
    margin-bottom: 80px;
    margin-top: 40px;
    overflow: hidden;

    @media (max-width: $w1200) {
      background-size: 100%;
      background-position: 75px 5%;
    }

    @media (max-width: $w992) {
      height: 360px;
      margin-bottom: 46px;
    }

    @media (max-width: $w576) {
      height: auto;
      aspect-ratio: 324 /184;
      margin-block: 28px 40px;
      background-position: 55px 5%;
    }

    &-content {
      height: 100%;
      width: 45%;
      min-width: 576px;
      padding: 40px;
      padding-right: 12% !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      background-image: url("/images/collection-details/banner-content-bg.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: right;

      @media (max-width: $w992) {
        padding: 28px;
        width: 62%;
        min-width: auto;
      }

      @media (max-width: $w576) {
        padding: 12px;
        width: 65%;
      }
    }

    &-badges {
      display: flex;
      gap: 4px;
    }

    &-badge {
      background: var(--white);
      color: var(--black-85);
      font: normal 400 14px/20px "Roboto", sans-serif;
      padding: 4px 8px;
      border-radius: 8px;

      @media (max-width: $w992) {
        font-size: 10px;
        line-height: 1.6;
      }

      @media (max-width: $w576) {
        padding: 2px 4px;
      }
    }

    &-text {
      color: var(--white);
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 0;
      }
    }

    &-title {
      font: normal 700 44px/48px "Roboto", sans-serif;
      margin-bottom: 20px;

      @media (max-width: $w992) {
        font-size: 32px;
        line-height: 1.25;
        margin-bottom: 12px;
      }

      @media (max-width: $w576) {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    &-subtitle {
      font: normal 400 20px/1.4 "Roboto", sans-serif;

      @media (max-width: $w992) {
        font-size: 16px;
        line-height: 1.5;
      }

      @media (max-width: $w576) {
        font-size: 10px;
        line-height: 1.6;
      }
    }
  }

  &__goods {
    &-grid {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); //

      @media (max-width: $w576) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 12px;
      }
    }
  }

  &__seo {
    .seo.formated-text {
      h1 {
        font: normal 700 20px/1.4 "Roboto", sans-serif;

        @media screen and (max-width: $w760) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      h2 {
        font: normal 700 20px/1.4 "Roboto", sans-serif;
        margin-top: 48px ;
        @media screen and (max-width: $w992) {
          margin-top: 28px;
        }
        @media screen and (max-width: $w760) {
          font-size: 14px;
          line-height: 20px;
        }
      }



      p {
        font: normal 400 14px/20px "Roboto", sans-serif;
        color: var(--black-70);
        margin-block: 20px;

        @media screen and (max-width: $w760) {
          font-size: 10px;
          line-height: 1.6;
        }
      }

      li {
        font: normal 400 14px/20px "Roboto", sans-serif;
        color: var(--black-70);


        @media screen and (max-width: $w760) {
          font-size: 10px;
          line-height: 1.6;
        }
      }
    }
  }
}

.page-collection-details {
  .mx-simple-collections {
    margin-block: 40px 60px;
    @include tablet {
      margin-block: 120px;
    }
  }
}
