@import "../../config";

.main-goods-item {

    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    transition: .1s ease;
    position: relative;

    &.active {
        .main-goods-item__item-content_action {
            button.btn-blue {
                opacity: 0;
            }

            form {
                opacity: 1;
                z-index: 1;
            }
        }
    }

    &.i-goods--sale {
        .price {
            span {
                b {
                    color: #C02400;
                }
            }
        }
    }

    &.i-goods--order {
        .main-goods-item__item-content_info {
            .in-stock {
                font-size: 10px;
                font-weight: 400;
                line-height: 16px;
                color: #3C82D2;

                display: flex;
                align-items: center;
                gap: 6px;

                .icon {
                    display: block;
                    min-width: 10px;
                    width: 10px;
                    height: 12px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.1s ease;
                }

                @media screen and (min-width: 767.98px) {
                    font-size: 12px;

                    .icon {
                        min-width: 14px;
                        width: 14px;
                        height: 16px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 991.98px) {
        &:before {
            opacity: 0;
            content: '';
            width: calc(100% + 16px);
            height: calc(100% + 16px);
            position: absolute;
            top: -8px;
            left: -8px;
            z-index: -1;
            border-radius: 8px;
            box-shadow: 0 0 16px 0 #13131326;
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .main-goods-item__item-additions-like .mx-like {
                opacity: 1;
            }

            .main-goods-item__item-good {
                color: #007AFF;
            }
        }
    }


    &__item-img {
        background: #F6F6F6;
        border-radius: 8px;

        position: relative;

        picture {
            position: relative;
            display: block;
            padding-bottom: 100%;
            height: 0;
            overflow: hidden;
            backface-visibility: hidden;
            background: #F6F6F6;
            border-radius: 8px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                object-fit: cover;
                border-radius: 8px 8px 0 0;
            }
        }

    }

    &__item-additions-top {
        display: flex;
        flex-direction: column;
        gap: 2px;

        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 1;

        @media screen and (min-width: 767.98px) {
            gap: 4px;

            top: 8px;
            left: 8px;
        }

        .mx-discount {
            font-size: 8px;
            font-weight: 500;
            line-height: 12px;
            color: #FFF;

            padding: 0 4px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: #C02400;

            @media screen and (min-width: 767.98px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .mx-popular {
            font-size: 8px;
            font-weight: 500;
            line-height: 12px;
            color: #FFF;

            padding: 0 4px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: #FF9219;

            @media screen and (min-width: 767.98px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

    }

    &__item-additions-like {
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 1;


        @media screen and (min-width: 767.98px) {
            top: 8px;
            right: 8px;
        }

        &.active {
            .mx-like {
                opacity: 1;

                i {
                    animation: heartBeat 0.3s ease forwards;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyLjM5NCAwYTQuNjk0IDQuNjk0IDAgMDAtMi4yNi42MTZBNC40MjQgNC40MjQgMCAwMDguNSAyLjIzIDQuNDI0IDQuNDI0IDAgMDA2Ljg2Ny42MTYgNC42OTQgNC42OTQgMCAwMDQuNjA2IDBhNC45MTQgNC45MTQgMCAwMC0zLjMzMSAxLjQ3NkE0LjQ3NiA0LjQ3NiAwIDAwLjAwMyA0Ljc2NWMwIDMuMDczIDMuMzkgNi40MyA2LjIzMSA4LjcwNUM2Ljg3IDEzLjk3OSA4LjUgMTUgOC41IDE1czEuNjMxLTEuMDIxIDIuMjY2LTEuNTNjMi44NDItMi4yNzYgNi4yMy01LjYzMiA2LjIzLTguNzA1YTQuNDc3IDQuNDc3IDAgMDAtMS4yNy0zLjI4OUE0LjkxNCA0LjkxNCAwIDAwMTIuMzkzIDB6IiBmaWxsPSIjRTQzQTI4Ii8+PC9zdmc+") !important;
                }
            }
        }


        .mx-like {
            min-width: 28px;
            width: 28px;
            height: 28px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: #F3F3F3;
            transition: .1s ease;

            @media screen and (min-width: 991.98px) {
                opacity: 0;

                &:hover {
                    background: #19BEFF;

                    .icon {
                        filter: brightness(255);
                    }
                }
            }

            .icon {
                display: block;
                min-width: 16px;
                width: 16px;
                height: 16px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.1s ease;
            }
        }
    }

    .item-additions-bottom--list-view {
        display: none;
    }

    &__item-additions-bottom {
        position: absolute;
        bottom: 4px;
        left: 4px;
        z-index: 1;

        @media screen and (min-width: 767.98px) {
            bottom: 24px;
            left: 8px;
        }

        .mx-discount-num {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 4px;

            font-size: 10px;
            font-weight: 400;
            line-height: 16px;
            color: #15181A;

            padding-right: 4px;
            border-radius: 4px;
            background: #F3F3F3;

            span {
                font-size: 10px;
                font-weight: 500;
                line-height: 16px;
                color: #FFF;

                padding: 2px 4px;
                border-radius: 4px;
                background: #15181A;

                width: fit-content;
                display: flex;
                align-items: center;
            }

            @media screen and (min-width: 767.98px) {
                gap: 8px;
                font-size: 12px;

                padding-right: 8px;

                span {
                    padding: 4px 8px;

                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                }
            }
        }
    }

    &__item-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 2px;
    }

    &__item-content_info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-grow: 1;

        .in-stock {
            font-size: 10px;
            font-weight: 400;
            line-height: 16px;
            color: #26B000;

            display: flex;
            align-items: center;
            gap: 6px;

            .icon {
                display: block;
                min-width: 10px;
                width: 10px;
                height: 12px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.1s ease;
            }

            @media screen and (min-width: 767.98px) {
                font-size: 12px;

                .icon {
                    min-width: 14px;
                    width: 14px;
                    height: 16px;
                }
            }
        }
    }

    &__item-good {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #15181A;
        transition: .1s ease;
        flex-grow: 1;

        @media screen and (min-width: 767.98px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__item-info {
        display: none;

        ul {
            li {
                font-weight: 400;
                font-size: 10px;
                line-height: 16px;
                color: #8A8C8D;

                @media screen and (min-width: 767.98px) {
                    font-size: 14px;
                    line-height: 20px;

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }
        }


    }

    &__item-pricing {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
            display: flex;
            align-items: center;
            gap: 6px;

            span {
                text-decoration: line-through;
                font-size: 10px;
                font-weight: 400;
                line-height: 16px;
                color: #5C5E5F;

                @media screen and (min-width: 767.98px) {
                    font-size: 14px;
                    line-height: 20px;
                }

                &:has(b) {
                    text-decoration: none;
                }

                b {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    color: #15181A;

                    @media screen and (min-width: 767.98px) {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }

        .count {
            font-size: 10px;
            font-weight: 400;
            line-height: 16px;
            color: #5C5E5F;

            padding: 2px 4px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F3F3F3;
            border-radius: 4px;

            @media screen and (min-width: 767.98px) {
                font-size: 12px;
            }
        }
    }

    &__item-content_action {
        position: relative;

        button.btn-blue {
            width: 100%;
            padding: 6px 8px;
            border-radius: 8px;

            font-size: 14px;
            line-height: 20px;

            @media screen and (min-width: 767.98px) {
                padding: 12px;

                font-size: 16px;
                line-height: 24px;
            }
        }

        form {
            display: flex;
            align-items: center;

            padding: 6px 8px;
            border-radius: 8px;
            background: #FFF;
            border: 1px solid #D0D1D1;

            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;

            @media screen and (min-width: 767.98px) {
                padding: 12px 8px;
                height: 48px;
            }

            .counter__btn {
                background: none;
                border: none;
                cursor: pointer;

                .icon {
                    display: block;
                    min-width: 12px;
                    width: 12px;
                    height: 12px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.1s ease;
                }
            }

            .counter__input {
                width: 100%;
                background: none;
                outline: none;
                border: none;
                height: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: #15181A;
            }
        }
    }

    & .splide {

        &:not(.is-initialized) li {
            display: none;
            width: 100%;
            visibility: visible;
        }

        &:not(.is-initialized) li:first-child {
            display: block;
            width: 100%;
        }

        &__pagination {
            &__page {
                width: 4px;
                height: 4px;
                background-color: #ccc;

                &.is-active {
                    background-color: var(--accent);
                }
            }
        }

        &__navhover {
            position: absolute;
            z-index: 5;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;

            & li {
                flex-grow: 1;
            }
        }



    }


}
