.mx-simple-collections {
  overflow: hidden;

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 12px;
    @media screen and (min-width: 767.98px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 20px;
    }

    h2 {
      font: normal 700 24px/32px "Roboto", sans-serif;
      @media screen and (min-width: 767.98px) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    a {
      font: normal 400 16px/24px "Roboto", sans-serif;
      color: var(--blue-link);

      @media screen and (min-width: 767.98px) {
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
      }
      @media screen and (min-width: 991.98px) {
        &:hover {
          color: #007AFF;

          &:before {
            background: #007AFF;
          }
        }
      }
    }
  }

  .splide {
    &__track {
      overflow: initial;
      @media screen and (min-width: 1439.98px) {
        overflow: hidden;
      }
    }

    @media screen and (min-width: 1439.98px) {
      &__list {
        display: flex !important;
        gap: 16px;
      }
      &__slide {
        flex: 1;
        transition: flex 0.5s ease-in-out;
        min-height: 360px;


        &:first-child {
          flex: 2;
        }

        &.is--hover {
          flex: 1;
        }

        &.is--active {
          flex: 2;
        }
      }
    }


  }
}