<ul class="discount-advantages">
  <li>
    <div class="discount-advantages__title">Долговечность</div>
    <div class="discount-advantages__description">Задача организации, в особенности же начало повседневной работы по
      формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития. 
    </div>
  </li>
  <li>
    <div class="discount-advantages__title">Долговечность</div>
    <div class="discount-advantages__description">Задача организации, в особенности же начало повседневной работы по
      формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития. 
    </div>
  </li>
  <li>
    <div class="discount-advantages__title">Долговечность</div>
    <div class="discount-advantages__description">Задача организации, в особенности же начало повседневной работы по
      формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития. 
    </div>
  </li>
  <li>
    <div class="discount-advantages__title">Долговечность</div>
    <div class="discount-advantages__description">Задача организации, в особенности же начало повседневной работы по
      формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития. 
    </div>
  </li>
</ul>
