<div class="discount-description">
  <h3>
    Инженерные разработки обеспечили материалу превосходную восстанавливаемость и сохранение высоких характеристик
    по всем показателям.
  </h3>
  <p>
    Дополнительным преимуществом плит является использование уникальной технологии «Флекси» - один край плит имеет
    способность поджиматься и разжиматься, то есть пружинить, благодаря чему процесс установки материала в конструкции
    на деревянном или металлическом каркасе становится намного проще и быстрее. Благодаря технологии «Флекси» утеплитель
    плотно встаёт в каркас без образования щелей, что исключает появление мостиков холода и делает более надёжную
    фиксацию плит в каркасе. «Флекси» край располагается с длинной стороны плиты и имеет соответствующую маркировку
    с торца плиты.
  </p>
</div>
