<div class="discount-description">
  <h3>
    Инженерные разработки обеспечили материалу превосходную восстанавливаемость и сохранение высоких характеристик
    по всем показателям.
  </h3>
  <p>
    Дополнительным преимуществом плит является использование уникальной технологии «Флекси» - один край плит имеет
    способность поджиматься и разжиматься, то есть пружинить, благодаря чему процесс установки материала в конструкции
    на деревянном или металлическом каркасе становится намного проще и быстрее. Благодаря технологии «Флекси» утеплитель
    плотно встаёт в каркас без образования щелей, что исключает появление мостиков холода и делает более надёжную
    фиксацию плит в каркасе. «Флекси» край располагается с длинной стороны плиты и имеет соответствующую маркировку
    с торца плиты.
  </p>
  <h3>Широкое применение</h3>
  <div class="discount-description__grid">
    @@include('./discount-description-item.html',{"image":"/images/discount/home-roof.svg", "title": "скатные кровли"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-roof.svg", "title": "мансардные помещения"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-wall.svg", "title": "перегородки"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-wall.svg", "title": "стены с сайдингом"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-entrance.svg", "title": "каркасные стены"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-ceiling.svg", "title": "межэтажные перекрытия"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-floor.svg", "title": "полы по лагам"})
    @@include('./discount-description-item.html',{"image":"/images/discount/home-window.svg", "title": "балконы"})
  </div>
  <h3>Долговечный материал</h3>
  <p>результаты исследований, проведённых согласно методике стандарта ДСТУ Б В 2.7–182:2009, показывают, что утеплитель
    СКАНДИК сохраняет свои теплоизоляционные свойства в течение 100 лет. Это уникальное отличие продукта, не имеющее
    аналогов на российском рынке.</p>
  <picture>
    <img src="/images/discount/image03.jpg" alt="">
  </picture>

</div>
