<div class="discount-banner" style="background-image: url(/images/discount/image01.jpg)">
  <div class="discount-banner__text">
    <div class="discount-banner__text-main">
      Тишина и спокойствие<br/>
      в Вашем доме<br/>
      Стала ещё <strong>выгоднее</strong>
    </div>
    <div class="discount-banner__text-title">
      Лайт Баттс  Скандик <strong>100мм</strong>
    </div>
    <div class="discount-banner__text-subtitle">
      ЛЕГЕНДАРНОЕ<br/>
      СКАНДИНАВСКОЕ<br/>
      КАЧЕСТВО
    </div>
    <picture class="discount-banner__good">
      <img src="/images/discount/image02.webp" alt="">
    </picture>
  </div>
</div>
