<div class="discount-other">
  <h3>Другие акции</h3>
  <div class="splide" data-slider="discounts">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">@@include('./discount-slide.html')</li>
        <li class="splide__slide">@@include('./discount-slide.html')</li>
        <li class="splide__slide">@@include('./discount-slide.html')</li>
        <li class="splide__slide">@@include('./discount-slide.html')</li>
        <li class="splide__slide">@@include('./discount-slide.html')</li>
      </ul>
    </div>
  </div>
</div>
