<div class="discount-good">
  <div class="discount-good__image">
    <picture>
      <img src="/images/discount/image02.webp" alt="Rockwool Лайт Баттс Скандик 37">
    </picture>
    <span class="badge">Скидка</span>
  </div>

  <div class="discount-good__description">
    <div class="discount-good__title">Rockwool Лайт Баттс Скандик 37</div>
    <div class="discount-good__parameter">
      <div class="discount-good__measure">Размеры (мм):</div>
      <div class="discount-good__value">800 × 600 × 100</div>
    </div>
    <div class="discount-good__parameter">
      <div class="discount-good__measure">Толщина (мм):</div>
      <div class="discount-good__value">100</div>
    </div>
    <div class="discount-good__parameter">
      <div class="discount-good__measure">Плотность (кг/м³):</div>
      <div class="discount-good__value">35</div>
    </div>
    <div class="discount-good__parameter">
      <div class="discount-good__measure">Площадь (м²):</div>
      <div class="discount-good__value">2,88</div>
    </div>
    <div class="discount-good__parameter">
      <div class="discount-good__measure">Объём (м³):</div>
      <div class="discount-good__value">0,288</div>
    </div>
  </div>

  <div class="discount-good__price">
      <div class="discount-good__price-group">
          <div class="discount-good__price-date">
              <span class="badge">&minus;25%</span>
              <span class="discount-good__price-date-end hidden-mobile">дo 15 ноября</span>
          </div>
          <div class="discount-good__price-value">
              <span class="new">940 ₽</span>
              <span class="old">1 240 ₽</span>
              <span class="unit">за 1 уп.</span>
          </div>
      </div>
      <div class="discount-good__price-group group-2">
          <div class="discount-good__price-qty hidden-mobile">
              —12+
          </div>
          <button class="discount-good__price-btn btn-blue">
              В корзину
          </button>
          <button class="btn-custom_i">
              <i class="icon-m" style="mask-image: url(/images/icons/im_heart-empty.svg)"></i>
          </button>
          <button class="btn-custom_i">
              <i class="icon-m" style="mask-image: url(/images/icons/im_compare.svg)"></i>
          </button>
      </div>
  </div>
</div>
