<div class="discount-data">
    <div class="discount-data__item">
      <div class="discount-data__item-title">тип акции</div>
      <div class="discount-data__item-value">Скидка 25%</div>
    </div>
    <div class="discount-data__item">
      <div class="discount-data__item-title">начало акции</div>
      <div class="discount-data__item-value">28.07.2025</div>
    </div>
    <div class="discount-data__item">
      <div class="discount-data__item-title">конец акции</div>
      <div class="discount-data__item-value">28.08.2025</div>
    </div>
</div>
