.cart-customer {
    background: var(--black-5);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 30px;

    @media screen and (min-width: $w576) {
        padding: 27px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 600;

        @media screen and (min-width: $w576) {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }


    &__form {

        & .form {
            &__note {
                padding-top: 24px;
            }
        }

        & label.checkbox {
            & .checkbox {
                &__text {
                    color: var(--black-50);
                    font-size: 14px;
                    line-height: 140%;
                }

                &__elem {
                    background-color: var(--black-5);
                }
            }
        }
    }
}