.cart-order {
    background: var(--black-5);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;

    @media screen and (min-width: $w576) {
        padding: 32px 27px 32px;
        margin-bottom: 16px;
    }



    &__title {
        margin-bottom: 11px;
        font-size: 14px;
        font-weight: 600;

        @media screen and (min-width: $w576) {
            margin-bottom: 15px;
            font-size: 20px;
        }

        @media screen and (min-width: $w992) {

            margin-bottom: 15px;
        }


    }

    &__note {
        color: var(--black-50);
    }

    &__note,
    &__desc {
        font-size: 12px;

        @media screen and (min-width: $w576) {
            font-size: 16px;
        }
    }

    &__list {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
        margin: 15px 0;
        padding-bottom: 5px;

        @media screen and (min-width: $w576) {
            margin: 24px 0;
        }

    }

    &__item {
        margin-right: 12px;
        width: 72px;
        min-width: 72px;

        @media screen and (min-width: $w576) {
            width: 100px;
            min-width: 100px;

        }

    }

    &__picture {
        border: 1px solid var(--black-20);
        border-radius: 8px;
        overflow: hidden;

        & picture {
            @include picture(100%, contain);
        }

        &:hover {
            border-color: var(--accent)
        }
    }

    &__cost {
        font-size: 12px;
        text-align: center;
        padding-top: 8px;
    }
}