.cart-cut {
    padding: 15px 16px;
    background: var(--black-5);
    border-radius: 8px;

    @media screen and (min-width: $w480) {
    padding: 24px 29px;
    }

    &__text {

        padding-bottom: 16px;

        & textarea {
            padding: 18px;
            border: 1px solid var(--black-20);
            width: 100%;
            display: block;
            resize: vertical;
            border-radius: 8px;
            font-size: 16px;
            font-family: inherit;
            min-height: 180px;
            font-size: 14px;

            @media screen and (min-width: $w576) {
                font-size: 16px;
            }

            &:focus {
                outline: 1px solid var(--accent);
            }

            &::placeholder {
                color: var(--black-50);
            }
        }
    }

    &__head {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;

        @media screen and (min-width: $w480) {
            font-size: 20px;
        }

    }

    &__content {
        margin-top: 22px;
    }

    &__file {
        & input {
            display: none;
        }

        & label {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        & .icon {
            margin-right: 6px;
        }
    }

    &__attach {
        display: flex;
        gap: 16px;

        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        @media screen and (min-width: $w992) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        & br {
            @media screen and (max-width: $w992) {
                display: none;
            }
        }
    }

    &__note {
        line-height: 140%;
        color: var(--black-50);
        font-size: 11px;

        @media screen and (min-width: $w576) {
            font-size: 14px;
        }

        @media screen and (min-width: $w992) {
            text-align: right;
        }
    }

    & .btn-gray {
        white-space: nowrap;
        font-size: 12px;

        @media screen and (min-width: $w576) {
            font-size: 12px;
        }

        @media screen and (min-width: $w992) {
            font-size: 16px;
        }

        &:hover {
            & i {
                filter: invert(1);

            }
        }
    }
}

.input-file-note {
    max-width: 150px;
    line-height: 140%;
    color: var(--black-50);
    font-size: 11px;

    @media screen and (min-width: $w576) {
        font-size: 14px;
    }
}

.cutter-adv {
    &__list {
        display: flex;
        gap: 12px;
        margin-bottom: 20px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 12px;
        min-width: 230px;
    }

    &__icon {
        min-width: 32px;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $w576) {
            min-width: 48px;
            width: 48px;
            height: 48px;
        }

        & .bgimage {
            width: 16px;
            height: 16px;
            @include bgimage-contain;

            @media screen and (min-width: $w576) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__text {
        font-size: 13px;
        line-height: 146%;

        @media screen and (min-width: $w576) {
            font-size: 14px;
        }
    }
}

.file-formbar {
    display: flex;
    gap: 8px;
    width: 100%;
    overflow-y: auto
}

.file-preview {
    width: auto;
    margin: 20px 0;
    position: relative
}

.file-preview__text {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 65px;
}

.file-preview__icon {
    width: 65px;
    height: 83px;
    background-color: var(--accent);
    border-radius: 13px;
    margin: auto;
    position: relative;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px
}

.file-preview__icon::before {
    content: '';
    width: 0;
    height: 0;
    background-color: #ccc;
    display: inline-block;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 6px;
    border-style: solid;
    border-width: 14px;
    border-left-color: #078fc5;
    border-bottom-color: #078fc5;
    border-top-color: #f3f3f3;
    border-right-color: #f3f3f3;
}

.file-preview__remove.icon-cross {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #3d3d3d;
    border-radius: 15px;
    border: 2px solid #eee;
    color: #fff;
    top: -5px;

    cursor: pointer;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgdGFiaW5kZXg9Ii0xIj48cGF0aCBkPSJNMjAgMjBMNCA0bTE2IDBMNCAyMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNmZmYiLz48L3N2Zz4=);
    background-size: 14px auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;

    @media screen and (min-width: $w992) {
        opacity: 0;
    }
}

.file-preview:hover .file-preview__remove.icon-cross {
    opacity: 1;
}