.cart-customer {
    background: var(--black-5);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;

    @media screen and (min-width: $w576) {
        padding: 32px 27px 27px;
        margin-bottom: 16px;
    }



    &__title {

        font-size: 14px;
        font-weight: 600;
        margin-bottom: 30px;

        @media screen and (min-width: $w576) {
            font-size: 20px;
            margin-bottom: 24px;
        }

        @media screen and (min-width: $w1440) {
            margin-bottom: 24px;
        }
    }


    &__form {

        & .form {
            &__note {
                padding-top: 0;

                @media screen and (min-width: $w576) {
                    padding-top: 12px;
                }

                @media screen and (min-width: $w992) {
                    padding-top: 13px;
                }

                & .checkbox {
                    align-items: flex-start;
                }
            }
        }

        & label.checkbox {
            & .checkbox {



                &__text {
                    color: var(--black-50);
                    font-size: 14px;
                    line-height: 140%;

                    @media screen and (min-width: $w576) {
                        font-size: 16px;
                    }
                }

                &__elem {
                    background-color: var(--black-5);
                }
            }
        }
    }
}