.os-details {
    padding: 22px 16px;
    background-color: var(--black-5);
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;

    @media screen and (min-width: $w576) {
        padding: 27px;
        margin-bottom: 16px;
    }

    &__main {
        padding-left: 16px;

        @media screen and (min-width: $w992) {
            padding-left: 20px;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 8px;
        line-height: 140%;

        @media screen and (min-width: $w760) {
            padding-bottom: 19px;
            padding-top: 8px;
        }

        @media screen and (min-width: $w576) {
            font-size: 20px;
            font-weight: bold;

        }
    }

    &__desc {
        font-size: 10px;
        line-height: 16px;

        @media screen and (min-width: $w576) {
            font-size: 14px;
            line-height: 142%;
        }
    }

    &__icon {

        margin-top: 6px;

        @media screen and (min-width: $w760) {
            margin-top: 0;
        }

        & i {
            width: 24px;
            height: 24px;

            @media screen and (min-width: $w576) {
                width: 40px;
                height: 40px;
            }
        }
    }
}



.order-success {

    margin: 0 auto;


    @media screen and (min-width: $w992) {
        max-width: 712px;
    }


    @media screen and (min-width: $w1200) {
        margin-top: -70px;
    }

    &__buttons {
        padding: 16px 16px;
        background-color: var(--black-5);
        margin-bottom: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        gap: 12px;

        @media screen and (min-width: $w992) {
            padding: 27px;
        }

        @media screen and (min-width: $w576) {
            padding: 22px 16px;
        }

        & a {
            width: 50%;

            & button {
                width: 100%;

                @media screen and (max-width: $w480) {
                    font-size: 14px;
                    padding: 9px inherit;
                    height: 32px;
                }

            }
        }
    }
}

.os-review {
    padding: 22px 16px;
    background-color: var(--black-5);
    margin-bottom: 12px;
    border-radius: 8px;

    @media screen and (min-width: $w576) {
        padding: 27px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: $w992) {
        padding: 32px 27px;
        margin-bottom: 12px;
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 18px;

        @media screen and (min-width: $w576) {
            font-size: 20px;
            padding-bottom: 30px;
        }

    }

    &__question {
        font-size: 10px;
        padding-bottom: 12px;
        display: flex;
        gap: 12px;


        @media screen and (min-width: $w576) {
            font-size: 14px;
            line-height: 142%;
            color: var(--black-base)
        }

        &:last-child {
            padding-bottom: 0;
        }

        &--input {
            @media screen and (max-width: $w576) {
                flex-wrap: wrap;

                & .os-review {
                    &__input {
                        width: 100%;

                        & input {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    &__text {
        width: 70%;
        line-height: 160%;

        @media screen and (min-width: $w760) {
            line-height: 140%;
        }

        @media screen and (min-width: $w576) {
            width: 50%;
        }
    }

    &__stars {
        width: 30%;

        @media screen and (min-width: $w576) {
            width: 50%;
        }
    }

    &__input {
        flex-grow: 1;

        @media screen and (min-width: $w576) {
            width: 50%;
        }
    }
}

.star-rating {
    overflow: hidden;
    margin: 0 auto;
    display: flex;

    & :not(:checked)>input {
        display: none;
    }

    & label {

        padding-right: 8px;
        cursor: pointer;

        &:nth-child(2) {
            order: 5;
        }

        &:nth-child(4) {
            order: 4
        }

        &:nth-child(6) {
            order: 3;
        }

        &:nth-child(8) {
            order: 2;
        }

        &:nth-child(10) {
            order: 1;
        }

        & span {
            width: 12px;
            height: 12px;
            display: inline-block;
            filter: grayscale(1);
            background-size: contain;
            opacity: 0.4;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwLjcyNiAxLjA2MmwyLjQxIDQuODg2YS44MDguODA4IDAgMDAuNjEuNDQybDUuMzkyLjc4NGEuODA5LjgwOSAwIDAxLjQ0OSAxLjM3OGwtMy45MDIgMy44MDMtLjAwMS4wMDFhLjgwNy44MDcgMCAwMC0uMjMyLjcxNWwuOTIyIDUuMzdhLjgwOS44MDkgMCAwMS0xLjE3NC44NTJsLTQuODIzLTIuNTM0di0uMDAxYS44MTIuODEyIDAgMDAtLjc1MiAwbC00LjgyMyAyLjUzNmEuODA5LjgwOSAwIDAxLTEuMTczLS44NTJsLjkyMi01LjM3MWEuODA4LjgwOCAwIDAwLS4yMzMtLjcxNUwuNDE2IDguNTUyYS44MDguODA4IDAgMDEuNDQ4LTEuMzc4bDUuMzkyLS43ODRhLjgwNy44MDcgMCAwMC42MDktLjQ0MmwyLjQxLTQuODg2YS44MDguODA4IDAgMDExLjQ1IDB6IiBmaWxsPSIjMTlCRUZGIi8+PC9zdmc+);

            @media screen and (min-width: $w576) {
                width: 20px;
                height: 20px;
            }

        }
    }

    &:not(:checked)>label svg {
        fill: #fff
    }

    &>input {

        display: none;

        &:checked~label span {
            filter: grayscale(0);
            opacity: 1;
        }

        &:checked+label:hover span,
        &:checked+label:hover~label span,
        &:checked~label:hover span,
        &:checked~label:hover~label span {
            filter: grayscale(0);
            opacity: 1;
        }
    }

    &:not(:checked)>label:hover span,
    &:not(:checked)>label:hover~label span {
        filter: grayscale(0);
        opacity: 1;
    }

}




.rate-area>label:active {
    position: relative;
}