<a href="#" class="mx-simple-collections-item">
    <div class="mx-simple-collections-item__img">
        <picture>
            <img src="@@image" alt="@@image">
        </picture>
    </div>

    <div class="mx-simple-collections-item__content">
        <div class="mx-simple-collections-item__content-top">
            <span>@@info</span>
        </div>
        <div class="mx-simple-collections-item__content-bottom">
            <div class="mx-simple-collections-item__content-bottom-icon">
                <span>
                    <i class="icon" style="background-image: url('@@icon')"></i>
                </span>
            </div>
            <div class="mx-simple-collections-item__content-bottom-text">
                <p>@@text</p>
            </div>
        </div>
    </div>


</a>