:root {
    --black-base: #15181A;
    --black-85: #383A3C;
    --black-70: #5C5E5F;
    --black-50: #8A8C8D;
    --black-20: #D0D1D1;
    --black-10: #E8E8E9;
    --black-5: #F3F3F3;
    --white: #FFFFFF;
    --accent: #19BEFF;
    --accent-30: #BAECFF;
    --accent-20: #D1F2FF;
    --red: #C02400;
    --red-80: #CD5033;
    --red-20: #F2D3CC;
    --red-10: #F9EAE6;
    --orange: #FF9219;
    --green: #26B000;
    --green-80: #52C033;
    --blue-link: #007AFF;
    --blue-dark: #336EC0;
    --blue-light: #3C82D2;
    --play-button-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiByeD0iOCIgZmlsbD0iIzE5QkVGRiIvPjxwYXRoIGQ9Ik0yMS41NzIgMTQuN2MxLjEwNi41NjYgMS4xMDYgMi4wMzQgMCAyLjZsLTkuNTc2IDQuOTFjLTEuMDc0LjU1Mi0yLjM5NC0uMTY2LTIuMzk0LTEuM3YtOS44MmMwLTEuMTM0IDEuMzItMS44NTIgMi4zOTQtMS4zbDkuNTc2IDQuOTF6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
    --arrow-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLjU5OCAxLjUxTDIuMTA4IDAgNyA0Ljk4IDExLjg5IDBsMS41MDggMS41MUw3LjAwMSA4IC41OTggMS41MXoiIGZpbGw9IiM1QzVFNUYiLz48L3N2Zz4=);
}

$w1660: 1660px;
$w1510: 1510.98px;
$w1440: 1440.98px;
$w1376: 1376px;
$w1200: 1200px;
$w1100: 1100px;
$w1024: 1025px;
$w991: 991.98px;
$w992: 992.98px;
$w760: 767px;
$w680: 679px;
$w576: 576px;
$w480: 480px;
$w375: 375.98px;
$w360: 360.98px;