:root {
    --black-base: #15181A;
    --black-85: #383A3C;
    --black-70: #5C5E5F;
    --black-50: #8A8C8D;
    --black-20: #D0D1D1;
    --black-10: #E8E8E9;
    --black-5: #F3F3F3;
    --white: #FFFFFF;
    --accent: #19BEFF;
    --accent-30: #BAECFF;
    --accent-20: #D1F2FF;
    --red: #C02400;
    --red-80: #CD5033;
    --red-20: #F2D3CC;
    --red-10: #F9EAE6;
    --orange: #FF9219;
    --green: #26B000;
    --green-80: #52C033;
    --blue-link: #007AFF;
    --blue-dark: #336EC0;
}