<!DOCTYPE html>
<html lang="ru">
@@include('html/head.html', {
'title': 'Корзина'
})

<body>
    @@include('html/header.html')

    <main class="page">
        <section class="breadcrumbs">
            <div class="breadcrumbs__container _container">
                <ul>
                    <li>
                        <a href="/pages/">Главная</a>
                    </li>
                    <li>
                        <a href="/pages/catalog-lvl-1.html">Корзина</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="cart" id="vuecart" v-cloak>
            <div class="_container">
                <div class="cart__title">
                    <h1>Корзина</h1>
                </div>
                <div class="cart__wrp" v-if="json.length ">
                    <div class="cart__content">
                        <div class="cart__topbar">
                            <div class="cart__selectall">
                                <label class="checkbox">
                                    <input type="checkbox" name="" value="stock" v-model="isSelectAllCheckbox"
                                        value="1">
                                    <span class="checkbox__elem"></span>
                                    <span class="checkbox__text">Выбрать всё</span>
                                </label>
                            </div>
                            <div class="cart__removeselected" v-if="removeList.length" @click="removeSelected()">
                                <i class="icon" style="background-image: url('/images/icons/ic_close.svg')"></i> Удалить
                                выбранное
                            </div>
                        </div>

                        <div class="cart__list">

                            <div v-for="(product,index) in productList" :key="product.id" class="cart__item">
                                <div class="cart__item" :class="{'is-timer': product.timer}">
                                    <div class="cart-item">
                                        <div class="cart-item__check">
                                            <label class="checkbox">
                                                <input type="checkbox" v-model="removeList" name="" :value="index">
                                                <span class="checkbox__elem"></span>
                                            </label>
                                        </div>
                                        <div class="cart-item__image">
                                            <picture><img :src="product.image" alt=""></picture>
                                        </div>
                                        <div class="cart-item__main">
                                            <div class="cart-item__left">
                                                <div class="cart-item__title">{{product.title}}</div>
                                                <div class="cart-item__sale" v-if="product.sale">
                                                    <div class="cart-item__sale-el">
                                                        <div class="cart-item__sale-percent">—{{product.sale.percent}}%
                                                        </div>
                                                        <div class="cart-item__sale-date">
                                                            до {{product.sale.date|formatDate}}</div>
                                                    </div>
                                                </div>
                                                <div class="cart-item__action">
                                                    <div class="cart-item__wishlist"
                                                        :class="{'is-active': product.wishlist}"
                                                        @click="product_towishlist(index, product)">
                                                        <i class="icon"
                                                            style="background-image: url('/images/icons/ic_elect.svg')"></i>
                                                    </div>
                                                    <div class="cart-item__remove" @click="removeItem(index, product)">
                                                        <i class="icon"
                                                            style="background-image: url('/images/icons/ic_trash.svg')"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-item__right">
                                                <div class="cart-item__prices">
                                                    <div class="cart-item__price"
                                                        :class="{'is-sale-color' : product.sale}">
                                                        {{getPrice(product)|numberWithSpaces}}
                                                        {{product.price.rub.currency}}
                                                    </div>
                                                    <div class="cart-item__oldprice" v-if="product.sale">
                                                        {{getPriceTotal(product)|numberWithSpaces}}
                                                        {{product.price.rub.currency}}
                                                    </div>
                                                </div>
                                                <div class="cart-item__count">
                                                    <div class="counter">
                                                        <div class="counter__dec" @click="counter_dec(index)">-</div>
                                                        <div class="counter__input">
                                                            <input @input="counter_change(index, $event)"
                                                                @blur="counter_blur(index, $event)" type="text"
                                                                placeholder="1" v-model="product.total">
                                                        </div>
                                                        <div class="counter__inc" @click="counter_inc(index)">+</div>
                                                    </div>
                                                </div>
                                                <div class="cart-item__cost-unit">780р.шт</div>
                                            </div>
                                        </div>
                                        <div class="cart-item__remove-timer">
                                            <div class="remove-timer" v-if="product.timer"
                                                @click="revertRemoveProduct(product.id)">
                                                <div class="remove-timer__icon"> <svg class="lh-gauge"
                                                        viewBox="0 0 120 120">
                                                        <circle class="lh-gauge-base" r="56" cx="60" cy="60"
                                                            stroke-width="5">
                                                        </circle>
                                                        <circle class="lh-gauge-arc" r="56" cx="60" cy="60"
                                                            stroke-width="5"
                                                            style="transform: rotate(-87.9537deg); stroke-dasharray: 351.154px, 351.858px;">
                                                        </circle>
                                                    </svg></div>
                                                <div class="remove-timer__text">
                                                    Отменить удаление
                                                    (<span>{{ formatMillisecondsToMMSS(product.timerMS) }}</span>)
                                                </div>
                                            </div>


                                        </div>
                                        <div class="cart-item__dotmenu">
                                            <div class="dots-menu" @click="toggleDotsMenu($event)">
                                                <div class="dots-menu__ic"></div>
                                                <div class="dots-menu__list">
                                                    <ul>
                                                        <li @click="removeItem(index, product)">Удалить</li>
                                                        <li @click="product_towishlist(index, product)">
                                                            {{product.wishlist ? 'В избранном' : 'В избранное'}} </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="cart__cutter">
                            <div class="cart-cut">
                                <div class="cart-cut__head">
                                    <div class="cart-cut__title">Распил материалов</div>
                                    <div class="cart-cut__toggle">
                                        <label class="toggle">
                                            <input type="checkbox" v-model="need_cutter">
                                            <div>
                                                <span class="toggle-slide"></span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="cart-cut__content" v-show="need_cutter">
                                    <div class="cart-cut__adv">
                                        <div class="cutter-adv">
                                            <div class="cutter-adv__list">
                                                <div class="cutter-adv__item">
                                                    <div class="cutter-adv__icon">
                                                        <span class="bgimage"
                                                            style="background-image: url('/images/icons/ct1.svg')"></span>
                                                    </div>
                                                    <div class="cutter-adv__text">Высокая точность распила,
                                                        погрешность
                                                        ±1 см</div>
                                                </div>

                                                <div class="cutter-adv__item">
                                                    <div class="cutter-adv__icon">
                                                        <span class="bgimage"
                                                            style="background-image:url('/images/icons/ct2.svg')"></span>
                                                    </div>
                                                    <div class="cutter-adv__text">Возможность реза как вдоль,
                                                        так и поперёк</div>
                                                </div>

                                                <div class="cutter-adv__item">
                                                    <div class="cutter-adv__icon">
                                                        <span class="bgimage"
                                                            style="background-image:url('/images/icons/ct3.svg')"></span>
                                                    </div>
                                                    <div class="cutter-adv__text">Дополнительные скидки за объём
                                                        работ
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-cut__form">
                                        <div class="cart-cut__text">
                                            <textarea v-model="cutter_desc"
                                                placeholder="Опишите требования к распилу в свободной форме"
                                                maxlength="300"></textarea>
                                        </div>
                                        <div class="file-formbar">
                                            <div v-for="file,i in fileArray" :key="file.size+file.name"
                                                class="file-preview">
                                                <div class="file-preview__icon">{{file.name.split('.').pop()}}</div>
                                                <div class="file-preview__text">{{file.name}}</div>
                                                <div class="file-preview__remove icon-cross"
                                                    @click="removeAttachFile(i)"></div>
                                            </div>
                                        </div>
                                        <div class="cart-cut__attach">
                                            <div class="cart-cut__file">
                                                <label>
                                                    <input type="file" name="cutterFiles" multiple
                                                        @change="changeFileInput($event)" ref="fileInput">
                                                    <div class="btn-gray">
                                                        <i class="icon"
                                                            style="background-image: url('/images/icons/ic_chain.svg')"></i>
                                                        Прикрепить чертёж
                                                    </div>
                                                    <span class="input-file-note">Фотографии и файлы не более
                                                        10</span>
                                                </label>
                                            </div>
                                            <div class="cart-cut__note">Точную стоимость услуги озвучит менеджер
                                                <br>
                                                после расчёта стоимости</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="cart__aside">
                        <div class="cart-aside">
                            <div class="cart-aside__make">
                                <div class="cart-aside__btn">
                                    <button @click="sendOrder()" :class="{'is-loading': isLoadOrder}"
                                        class="btn-blue">Перейти к оформлению</button>
                                </div>
                                <div class="cart-aside__text">Доступные способы оплаты и доставки можно выбрать
                                    при оформлении заказа.</div>
                            </div>

                            <div class="cart-aside__make-mobile">
                                <div class="mobile-make">
                                    <div class="mobile-make-total">{{json.length}}
                                        {{ declination(json.length, ['товар','товара','товаров']) }} •
                                        {{getTotalWeight|convertWeight}}</div>
                                    <div class="mobile-make-checkout" :class="{'is-loading': isLoadOrder}"
                                        @click="sendOrder()">К оформлению</div>
                                    <div class="mobile-make-cost">
                                        <strong>{{getTotalPriceOrder|numberWithSpaces}} ₽</strong>
                                        <span>{{getCostProducts|numberWithSpaces}} ₽</span> </div>
                                </div>
                            </div>

                            <div class="cart-aside__oneclick">
                                <button class="btn-gray" @click="openPopupOneClick()">Купить в 1 клик</button>
                            </div>
                            <div class="cart-aside__details">
                                <div class="cart-details">
                                    <div class="cart-details__title">Ваша корзина</div>
                                    <div class="cart-details__prop">
                                        <div class="cart-details__item">
                                            <div class="cart-details__name">Товары ({{json.length}})</div>
                                            <div class="cart-details__value">{{getCostProducts|numberWithSpaces}} ₽
                                            </div>
                                        </div>
                                        <div class="cart-details__item" v-if="need_cutter">
                                            <div class="cart-details__name">Услуги (1)</div>
                                            <div class="cart-details__value">после расчёта</div>
                                        </div>
                                        <div class="cart-details__item">
                                            <div class="cart-details__name">Вес</div>
                                            <div class="cart-details__value">{{getTotalWeight|convertWeight}}</div>
                                        </div>
                                        <div v-if="getTotalDiscount"
                                            class="cart-details__item cart-details__item--dropdown"
                                            @click="isOpenSaleDropdown = !isOpenSaleDropdown"
                                            :class="{'is-open':isOpenSaleDropdown}">
                                            <div class="cart-details__name">Скидки</div>
                                            <div class="cart-details__value">{{getTotalDiscount|numberWithSpaces}} ₽
                                            </div>
                                        </div>
                                        <div class="sale-dropdown" :class="{'is-open':isOpenSaleDropdown}">
                                            <div v-for="dsc in discounts" :key="dsc.name" class="sale-dropdown__item">
                                                <div class="sale-dropdown__name">{{dsc.name}}</div>
                                                <div class="sale-dropdown__value">— {{dsc.sale|numberWithSpaces}} ₽
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cart-details__input">
                                        <input type="text" v-model="promocode" placeholder="Промокод"
                                            @keyup="addPromocodeOnEnter($event)">
                                        <span class="icon" v-if="promocode" :class="{'is-loading':isLoadPromocode}"
                                            @click="addPromocode()"
                                            style="background-image: url('/images/icons/ic_in-stock.svg')"></span>
                                    </div>

                                    <div class="cart-details__output">
                                        <div class="cart-output">
                                            <div class="cart-output__title">Итог</div>
                                            <div class="cart-output__value">{{getTotalPriceOrder|numberWithSpaces}} ₽
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="cart-aside__cutter">
                                <div class="cart-cutter">
                                    <div class="cart-cutter__head">
                                        <div class="cart-cutter__title">Нужен распил?</div>
                                        <div class="cart-cutter__toggle">
                                            <label class="toggle">
                                                <input type="checkbox" v-model="need_cutter">
                                                <div>
                                                    <span class="toggle-slide"></span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="cart-cutter__text">
                                        У вас в корзине есть товары, для которых мы можем произвести распил.
                                        <a href="#" @click="openPopupPrice()">Смотреть цены.</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="cart__empty" v-if="!isPageLoading && !json.length">
                    <div class="cart-empty">
                        <div class="cart-empty__image">
                            <span class="bgimage" style="background-image: url(/images/dog.jpg)"></span>
                        </div>
                        <div class="cart-empty__title">Пока пусто</div>
                        <div class="cart-empty__desc"> Для поиска товаров воспользуйтесь</div>
                        <div class="cart-empty__buttons">
                            <a href="/pages/catalog-lvl-1.html"><button class="btn-blue">каталогом</button></a>
                            <span>или</span>
                            <a href="/pages/"><button class="btn-gray">поиском</button></a>
                        </div>
                    </div>
                </div>

                <div class="cart__load" :class="{'is-loading': isPageLoading}">
                    @@include('./html/components/spinner.html')
                </div>

                <af-lightbox ref="popup">
                    <div class="pricelist-cutter">
                        <div class="pricelist-cutter__wrp">
                            <div v-for="item in pricelist" :key="item.groupTitle" class="pricelist-cutter__group">
                                <div class="pricelist-cutter__title">{{item.groupTitle}}</div>
                                <div class="pricelist-cutter__list">
                                    <div v-for="prop in item.group" :key="prop.title" class="pricelist-cutter__gr">
                                        <div class="pricelist-cutter__label">{{prop.title}}</div>
                                        <div class="pricelist-cutter__items">
                                            <div v-for="row in prop.items" class="pricelist-cutter__row">
                                                <div class="pricelist-cutter__name">{{row.name}}</div>
                                                <div class="pricelist-cutter__value">
                                                    <span>{{row.value}}</span>{{row.unit}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </af-lightbox>

                <af-lightbox ref="oneclick">
                    <div class="popup-call">
                        <div class="popup-call__modal" id="modal-call">
                            <div class="popup__wrapper">
                                <div class="popup__body">
                                    <div class="popup__heading">
                                        <h2>Быстрая покупка</h2>
                                    </div>
                                    <div class="popup__desc">
                                        Укажите номер телефона и наш менеджер <br> перезвонит для составления заказа
                                    </div>
                                    <form action="#" method="POST">
                                        <div class="popup__form-field">
                                            <div class="form">
                                                <input type="tel" required="" placeholder="Номер телефона">
                                            </div>

                                        </div>

                                        <button class="btn-blue">Отправить</button>

                                        <div class="popup__form-field--policy">Нажимая кнопк «Отправить», я даю согласие
                                            на обработку персональных данных и согласен с публичной офертой</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </af-lightbox>

            </div>
        </section>

        <section class="mx-goods mx-goods--viewed">
            <div class="mx-goods__container _container">
                <h2>Вы смотрели</h2>
                <div class="mx-goods__goods">
                    <div class="splide" data-slider="splide-goods">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-1.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-2.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-3.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-1.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-2.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-3.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-1.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-2.html')
                                </li>
                                <li class="splide__slide">
                                    @@include('html/components/mx-goods/mx-goods-item-3.html')
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>

    @@include('html/footer.html')
    @@include('html/components/action-panel.html')

    <script src="/js/cart/vue-aflightbox.js"></script>
    <script src="/js/cart/cart.js"></script>

</body>

</html>