<!DOCTYPE html>
<html lang="ru">

<head>
  @@include('html/head.html', {
  'title': 'Mottex - Оформление заказа'
  })
</head>
<link rel="stylesheet" href="/css/cart.min.css">

<body>
  @@include('html/header-cart.html')

  <main class="page">
    <section class="cart cart--checkout" id="vuecheckout" v-cloak>
      <div class="_container">
        <div class="cart__wrp">
          <div class="cart__content">

            <div class="cart-receipt">
              <div class="cart-receipt__wrp">
                <div class="cart-receipt__title">Способ получения</div>
                <div class="cart-receipt__select">
                  <div class="cart-receipt__tabs">
                    <label>
                      <input type="radio" name="receipt-type" v-model="receipt_type" value="delivery">
                      <div class="receipt-item">
                        <div class="receipt-item__title">Доставка</div>
                        <div class="receipt-item__bottom">
                          <div class="receipt-item__text">Сегодня или позже,от 0 ₽</div>
                          <div class="receipt-item__check"></div>
                        </div>
                      </div>
                    </label>
                    <label>
                      <input type="radio" name="receipt-type" v-model="receipt_type" value="pickup">
                      <div class="receipt-item">
                        <div class="receipt-item__title">Самовывоз</div>
                        <div class="receipt-item__bottom">
                          <div class="receipt-item__text">Сегодня, <span>бесплатно</span>
                          </div>
                          <div class="receipt-item__check"></div>
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="cart-receipt__note">
                    <span v-if="receipt_type=='delivery'">Наш водитель привезёт ваш заказ на объект
                      по всей
                      России, домой или дачу. Окончательная стоимость станет известна
                      после расчёта
                      логистом после оформления заказа.</span>
                    <span v-if="receipt_type=='pickup'">Заказ можно забрать самовывозом в день
                      оформления, если он был оформлен
                      за 1 час до конца рабочего дня.</span>
                  </div>
                </div>

                <div class="cart-receipt__tabcontent" v-if="receipt_type=='pickup'">
                  <div class="store-item">
                    <div class="store-item__left">
                      <div class="store-item__label">
                        <span>Бесплатно</span>
                      </div>
                      <div class="store-item__title">Склад в г. Челябинск</div>
                      <div class="store-item__prop">
                        <small>Адрес</small>
                        <p>Челябинск, Троицкий Тракт, д. 17</p>
                      </div>
                      <div class="store-item__prop">
                        <small>Режим работы</small>
                        <p>ПН-ПТ с 8:30 до 18:00, СБ-ВС с 9:00 до 15:00</p>
                      </div>
                      <div class="store-item__prop">
                        <small>Телефон</small>
                        <p>+7 351 217-00-00</p>
                      </div>
                      <div class="store-item__change">
                        <button class="btn-custom">Выбрать другой склад</button>
                      </div>
                    </div>
                    <div class="store-item__right">
                      <div class="store-item__mapcontainer">
                        <div class="store-in-map" id="store-in-map"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-receipt__tabcontent" v-if="receipt_type=='delivery'">
                  <div class="cart-receipt__selectmap">
                    <button class="btn-gray" @click="select_in_map = !select_in_map">
                      <i class="icon" style="background-image: url('/images/icons/ic_map.svg')"></i>
                      {{ !select_in_map ? 'Указать на карте' : 'Скрыть карту'}}
                    </button>
                  </div>
                  <div class="cart-receipt__map-container" v-if="select_in_map">
                    <div id="map-select-address"></div>
                  </div>
                  <div class="cart-receipt__form">
                    <div class="form">
                      <div class="form__item">
                        <div class="form__subitem">
                          <div class="input--suggest">
                            <input @keyup="getSuggestFromYmaps($event)" @blur="blurSuggest($event)"
                              @focus="focusSuggest($event)" type="text" placeholder="Улица, дом"
                              v-model="addressDelivery" required maxlength="60">

                            <ul class="suggest-list" v-if="isOpenSuggest && suggestArray.length">
                              <li v-for="item in suggestArray" :rel="item.value" @click="selectedSuggest(item)">
                                {{item.text}}</li>
                            </ul>

                          </div>

                        </div>
                      </div>
                      <div class="form__item form__item--four">
                        <div class="form__subitem">
                          <input v-model="entranceDelivery" type="text" placeholder="Подъезд" maxlength="60">
                        </div>
                        <div class="form__subitem">
                          <input v-model="officeDelivery" type="text" placeholder="Кв./офис" maxlength="60">
                        </div>
                        <div class="form__subitem">
                          <input v-model="floorDelivery" type="text" placeholder="Этаж" maxlength="60"></div>
                        <div class="form__subitem">
                          <input v-model="intercomDelivery" type="text" placeholder="Домофон" maxlength="60">
                        </div>
                      </div>
                      <div class="form__item">
                        <div class="form__subitem">
                          <textarea placeholder="Комментарий" maxlength="600"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="cart-customer">
              <div class="cart-customer__wrp">
                <div class="cart-customer__title">Получатель</div>
                <div class="cart-customer__form">
                  <div class="form">
                    <div class="form__item">
                      <div class="form__subitem">
                        <input type="text" v-model="recipient_name" placeholder="Имя получателя" required
                          maxlength="60">
                      </div>
                      <div class="form__subitem">
                        <input type="text" v-model="recipient_phone" placeholder="Номер телефона" required
                          maxlength="60" v-mask="'+7(###)###-##-##'">
                      </div>
                    </div>
                    <div class="form__item">
                      <div class="form__subitem"><input type="email" placeholder="Email @" maxlength="60">
                      </div>
                    </div>
                    <div class="form__note">
                      <label class="checkbox">
                        <input type="checkbox" name="" value="stock">
                        <span class="checkbox__elem"></span>
                        <span class="checkbox__text">Хочу получать эксклюзивные предложения
                          и промокоды по email. Нажимая, вы принимаете условия передачи
                          информации.</span>
                      </label>

                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="cart__cutter">
              <div class="cart-cut">
                <div class="cart-cut__head">
                  <div class="cart-cut__title">Распил материалов</div>
                  <div class="cart-cut__toggle">
                    <label class="toggle">
                      <input type="checkbox" v-model="need_cutter">
                      <div>
                        <span class="toggle-slide"></span>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="cart-cut__content" v-if="need_cutter">
                  <div class="cart-cut__adv">
                    <div class="cutter-adv">
                      <div class="cutter-adv__list">
                        <div class="cutter-adv__item">
                          <div class="cutter-adv__icon">
                            <span class="bgimage" style="background-image: url('/images/icons/ct1.svg')"></span>
                          </div>
                          <div class="cutter-adv__text">Высокая точность распила, погрешность
                            ±1 см</div>
                        </div>

                        <div class="cutter-adv__item">
                          <div class="cutter-adv__icon">
                            <span class="bgimage" style="background-image:url('/images/icons/ct2.svg')"></span>
                          </div>
                          <div class="cutter-adv__text">Возможность реза как вдоль,
                            так и поперёк</div>
                        </div>

                        <div class="cutter-adv__item">
                          <div class="cutter-adv__icon">
                            <span class="bgimage" style="background-image:url('/images/icons/ct3.svg')"></span>
                          </div>
                          <div class="cutter-adv__text">Дополнительные скидки за объём работ
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="cart-cut__form">
                    <div class="cart-cut__text">
                      <textarea placeholder="Опишите требования к распилу в свободной форме"></textarea>
                    </div>
                    <div class="file-formbar">
                      <div v-for="file,i in fileArray" :key="file.size+file.name" class="file-preview">
                        <div class="file-preview__icon">{{file.name.split('.').pop()}}</div>
                        <div class="file-preview__text">{{file.name}}</div>
                        <div class="file-preview__remove icon-cross" @click="removeAttachFile(i)"></div>
                      </div>
                    </div>
                    <div class="cart-cut__attach">
                      <div class="cart-cut__file">
                        <label>
                          <input type="file" name="cutterFiles" multiple @change="changeFileInput($event)"
                            ref="fileInput">
                          <div class="btn-gray">
                            <i class="icon" style="background-image: url('/images/icons/ic_chain.svg')"></i>
                            Прикрепить чертёж
                          </div>
                          <span class="input-file-note">Фотографии и файлы не более 10</span>
                        </label>
                      </div>
                      <div class="cart-cut__note">Точную стоимость услуги озвучит менеджер <br>
                        после расчёта стоимости</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="cart__order">
              <div class="cart-order">
                <div class="cart-order__wrp">
                  <div class="cart-order__title">В Вашем заказе</div>
                  <div class="cart-order__desc"> {{products.length}} товаров •
                    {{getTotalWeight|convertWeight}} • 15 м3 </div>
                  <div class="cart-order__list">
                    <div v-for="item in products" class="cart-order__item">
                      <div class="cart-order__picture">
                        <a href="/pages/single-product.html">
                          <picture><img :src="item.image" alt=""></picture>
                        </a>
                      </div>
                      <div class="cart-order__cost">
                        {{item.price.rub.unit*item.total}}{{item.price.rub.currency}}
                      </div>
                    </div>
                  </div>
                  <div class="cart-order__note">Способ получения: {{deliveryType[receipt_type]}}</div>
                </div>
              </div>
            </div>

          </div>
          <div class="cart__aside">
            <div class="cart-aside">
              <div class="cart-aside__make cart-aside__make--checkout">
                <div class="cart-aside__btn">
                  <button @click="sendOrder()" type="button" :disabled="isValidationOrder"
                    :class="{'is-loading': isLoadOrder}" class="btn-blue">Оформить заказ</button>
                </div>
                <div class="cart-aside__text" v-if="isValidationOrder">
                  <div v-html="errorLog"></div>
                </div>
              </div>

              <div class="cart-aside__make-mobile">
                <div class="mobile-make" :disabled="isValidationOrder">
                  <div class="mobile-make-total">{{products.length}}
                    {{ declination(products.length, ['товар','товара','товаров']) }}
                    •
                    {{getTotalWeight|convertWeight}}</div>
                  <div class="mobile-make-checkout" :class="{'is-loading': isLoadOrder}" @click="sendOrder()">
                    Оформить заказ</div>
                  <div class="mobile-make-cost">
                    <strong>{{getTotalPriceOrder|numberWithSpaces}} ₽</strong>
                    <span>{{getCostProducts|numberWithSpaces}} ₽</span> </div>
                </div>
              </div>

              <div class="cart-aside__oneclick">
                <button class="btn-gray" @click="openPopupOneClick()">Купить в 1
                  клик</button>
              </div>
              <div class="cart-aside__details">
                <div class="cart-details">
                  <div class="cart-details__title">Ваша корзина</div>
                  <div class="cart-details__prop">
                    <div class="cart-details__item">
                      <div class="cart-details__name">Товары
                        ({{products.length}})</div>
                      <div class="cart-details__value">
                        {{getCostProducts|numberWithSpaces}} ₽
                      </div>
                    </div>
                    <div class="cart-details__item" v-if="need_cutter">
                      <div class="cart-details__name">Услуги (1)</div>
                      <div class="cart-details__value">после расчёта</div>
                    </div>
                    <div class="cart-details__item">
                      <div class="cart-details__name">Вес</div>
                      <div class="cart-details__value">
                        {{getTotalWeight|convertWeight}}</div>
                    </div>
                    <div v-if="getTotalDiscount" class="cart-details__item cart-details__item--dropdown"
                      @click="isOpenSaleDropdown = !isOpenSaleDropdown" :class="{'is-open':isOpenSaleDropdown}">
                      <div class="cart-details__name">Скидки</div>
                      <div class="cart-details__value">
                        {{getTotalDiscount|numberWithSpaces}} ₽
                      </div>
                    </div>
                    <div class="sale-dropdown" :class="{'is-open':isOpenSaleDropdown}">
                      <div v-for="dsc in discounts" :key="dsc.name" class="sale-dropdown__item">
                        <div class="sale-dropdown__name">{{dsc.name}}</div>
                        <div class="sale-dropdown__value">—
                          {{dsc.sale|numberWithSpaces}} ₽
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cart-details__input">
                    <input type="text" v-model="promocode" placeholder="Промокод" @keyup="addPromocodeOnEnter($event)"
                      maxlength="20">
                    <span class="icon" v-if="promocode" :class="{'is-loading':isLoadPromocode}" @click="addPromocode()"
                      style="background-image: url('/images/icons/ic_in-stock.svg')"></span>
                  </div>

                  <div class="cart-details__output">
                    <div class="cart-output">
                      <div class="cart-output__title">Итог</div>
                      <div class="cart-output__value">
                        {{getTotalPriceOrder|numberWithSpaces}} ₽
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="cart-aside__cutter">
                <div class="cart-cutter">
                  <div class="cart-cutter__head">
                    <div class="cart-cutter__title">Нужен распил?</div>
                    <div class="cart-cutter__toggle">
                      <label class="toggle">
                        <input type="checkbox" v-model="need_cutter">
                        <div>
                          <span class="toggle-slide"></span>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="cart-cutter__text">
                    У вас в корзине есть товары, для которых мы можем
                    произвести распил.
                    <a href="#" @click="openPopupPrice()">Смотреть цены.</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="cart__load" :class="{'is-loading': isPageLoading}">
          @@include('./html/components/spinner.html')
        </div>
      </div>



      <af-lightbox ref="popup">
        <div class="pricelist-cutter">
          <div class="pricelist-cutter__wrp">
            <div v-for="item in pricelist" :key="item.groupTitle" class="pricelist-cutter__group">
              <div class="pricelist-cutter__title">{{item.groupTitle}}</div>
              <div class="pricelist-cutter__list">
                <div v-for="prop in item.group" :key="prop.title" class="pricelist-cutter__gr">
                  <div class="pricelist-cutter__label">{{prop.title}}</div>
                  <div class="pricelist-cutter__items">
                    <div v-for="row in prop.items" class="pricelist-cutter__row">
                      <div class="pricelist-cutter__name">{{row.name}}</div>
                      <div class="pricelist-cutter__value">
                        <span>{{row.value}}</span>{{row.unit}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </af-lightbox>

      <af-lightbox ref="oneclick">
        <div class="popup-call">
          <div class="popup-call__modal" id="modal-call">
            <div class="popup__wrapper">
              <div class="popup__body">
                <div class="popup__heading">
                  <h2>Быстрая покупка</h2>
                </div>
                <div class="popup__desc">
                  Укажите номер телефона и наш менеджер <br> перезвонит для составления заказа
                </div>
                <form action="#" method="POST">
                  <div class="popup__form-field">
                    <div class="form">
                      <input type="tel" required="" data-maska="+7(###)###-##-##" placeholder="Номер телефона"
                        maxlength="40">
                    </div>

                  </div>

                  <button class="btn-blue">Отправить</button>

                  <div class="popup__form-field--policy">Нажимая кнопк «Отправить», я даю согласие
                    на обработку персональных данных и согласен с публичной офертой</div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </af-lightbox>
    </section>
  </main>

  @@include('html/footer-cart.html')
  @@include('html/components/action-panel.html')

  <script src="/js/cart.min.js"></script>

</body>

</html>
