<!DOCTYPE html>
<html lang="ru">
@@include('html/head.html', {
'title': 'Каталог'
})

<body>
    @@include('html/header-cart.html')

    <main class="page">
        <section class="cart cart--checkout" id="vuecheckout">
            <div class="_container">

                <div class="cart__wrp">
                    <div class="cart__content">

                        <div class="cart-receipt">
                            <div class="cart-receipt__wrp">
                                <div class="cart-receipt__title">Способ получения</div>
                                <div class="cart-receipt__select">
                                    <div class="cart-receipt__tabs">
                                        <label>
                                            <input type="radio" name="receipt-type" v-model="receipt_type"
                                                value="delivery">
                                            <div class="receipt-item">
                                                <div class="receipt-item__title">Доставка</div>
                                                <div class="receipt-item__bottom">
                                                    <div class="receipt-item__text">Сегодня или позже,от 0 ₽</div>
                                                    <div class="receipt-item__check"></div>
                                                </div>
                                            </div>
                                        </label>
                                        <label>
                                            <input type="radio" name="receipt-type" v-model="receipt_type"
                                                value="pickup">
                                            <div class="receipt-item">
                                                <div class="receipt-item__title">Самовывоз</div>
                                                <div class="receipt-item__bottom">
                                                    <div class="receipt-item__text">Сегодня, <span>бесплатно</span>
                                                    </div>
                                                    <div class="receipt-item__check"></div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="cart-receipt__note">
                                        <span v-if="receipt_type=='delivery'">Наш водитель привезёт ваш заказ на объект
                                            по всей
                                            России, домой или дачу. Окончательная стоимость станет известна
                                            после расчёта
                                            логистом после оформления заказа.</span>
                                        <span v-if="receipt_type=='pickup'">Заказ можно забрать самовывозом в день
                                            оформления, если он был оформлен
                                            за 1 час до конца рабочего дня.</span>
                                    </div>
                                </div>

                                <div class="cart-receipt__tabcontent" v-if="receipt_type=='pickup'">
                                    <div class="store-item">
                                        <div class="store-item__left">
                                            <div class="store-item__label">
                                                <span>Бесплатно</span>
                                            </div>
                                            <div class="store-item__title">Склад в г. Челябинск</div>
                                            <div class="store-item__prop">
                                                <small>Адрес</small>
                                                <p>Челябинск, Троицкий Тракт, д. 17</p>
                                            </div>
                                            <div class="store-item__prop">
                                                <small>Режим работы</small>
                                                <p>ПН-ПТ с 8:30 до 18:00, СБ-ВС с 9:00 до 15:00</p>
                                            </div>
                                            <div class="store-item__prop">
                                                <small>Телефон</small>
                                                <p>+7 351 217-00-00</p>
                                            </div>
                                            <div class="store-item__change">
                                                <button class="btn-line">Выбрать другой склад</button>
                                            </div>
                                        </div>
                                        <div class="store-item__right">
                                            <div class="store-item__mapcontainer"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-receipt__tabcontent" v-if="receipt_type=='delivery'">
                                    <div class="cart-receipt__selectmap">
                                        <button class="btn-gray" @click="select_in_map = !select_in_map">
                                            <i class="icon"
                                                style="background-image: url('/images/icons/ic_map.svg')"></i>
                                            {{ !select_in_map ? 'Указать на карте' : 'Скрыть карту'}}
                                        </button>
                                    </div>
                                    <div class="cart-receipt__map-container" v-if="select_in_map">map-cotainer</div>
                                    <div class="cart-receipt__form">
                                        <div class="form">
                                            <div class="form__item">
                                                <div class="form__subitem"><input type="text" placeholder="Улица, дом*">
                                                </div>
                                            </div>
                                            <div class="form__item form__item--four">
                                                <div class="form__subitem"><input type="text" placeholder="Подъезд">
                                                </div>
                                                <div class="form__subitem"><input type="text" placeholder="Кв./офис">
                                                </div>
                                                <div class="form__subitem"><input type="text" placeholder="Этаж"></div>
                                                <div class="form__subitem"><input type="text" placeholder="Домофон">
                                                </div>
                                            </div>
                                            <div class="form__item">
                                                <div class="form__subitem">
                                                    <textarea placeholder="Комментарий"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cart-customer">
                            <div class="cart-customer__wrp">
                                <div class="cart-customer__title">Получатель</div>
                                <div class="cart-customer__form">
                                    <div class="form">
                                        <div class="form__item">
                                            <div class="form__subitem"><input type="text" placeholder="Имя получателя"
                                                    required>
                                            </div>
                                            <div class="form__subitem"><input type="text" placeholder="Номер телефона"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form__item">
                                            <div class="form__subitem"><input type="email" placeholder="Email @">
                                            </div>
                                        </div>
                                        <div class="form__note">
                                            <label class="checkbox">
                                                <input type="checkbox" name="" value="stock">
                                                <span class="checkbox__elem"></span>
                                                <span class="checkbox__text">Хочу получать эксклюзивные предложения
                                                    и промокоды по email. Нажимая, вы принимаете условия передачи
                                                    информации.</span>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cart__order">
                            <div class="cart-order">
                                <div class="cart-order__wrp">
                                    <div class="cart-order__title">В Вашем заказе</div>
                                    <div class="cart-order__desc"> 86 товаров • 1110 кг • 15 м3 </div>
                                    <div class="cart-order__list">
                                        <div v-for="iten in [1,1,1,11,1,1,1,1]" class="cart-order__item">
                                            <div class="cart-order__picture">
                                                <picture><img src="/images/goods/g2.jpg" alt=""></picture>
                                            </div>
                                            <div class="cart-order__cost">27 417 ₽</div>
                                        </div>
                                    </div>
                                    <div class="cart-order__note">Способ получения: Самовывоз</div>
                                </div>
                            </div>
                        </div>

                        <div class="cart__cutter">
                            <div class="cart-cut">
                                <div class="cart-cut__head">
                                    <div class="cart-cut__title">Распил материалов</div>
                                    <div class="cart-cut__toggle">
                                        <label class="toggle">
                                            <input type="checkbox" v-model="need_cutter">
                                            <div>
                                                <span class="toggle-slide"></span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="cart-cut__content" v-if="need_cutter">
                                    <div class="cart-cut__adv">
                                        <div class="cutter-adv">
                                            <div class="cutter-adv__list">
                                                <div class="cutter-adv__item">
                                                    <div class="cutter-adv__icon">
                                                        <span class="bgimage"
                                                            style="background-image: url('/images/icons/ct1.svg')"></span>
                                                    </div>
                                                    <div class="cutter-adv__text">Высокая точность распила,
                                                        погрешность
                                                        ±1 см</div>
                                                </div>

                                                <div class="cutter-adv__item">
                                                    <div class="cutter-adv__icon">
                                                        <span class="bgimage"
                                                            style="background-image:url('/images/icons/ct2.svg')"></span>
                                                    </div>
                                                    <div class="cutter-adv__text">Возможность реза как вдоль,
                                                        так и поперёк</div>
                                                </div>

                                                <div class="cutter-adv__item">
                                                    <div class="cutter-adv__icon">
                                                        <span class="bgimage"
                                                            style="background-image:url('/images/icons/ct3.svg')"></span>
                                                    </div>
                                                    <div class="cutter-adv__text">Дополнительные скидки за объём
                                                        работ
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-cut__form">
                                        <div class="cart-cut__text">
                                            <textarea
                                                placeholder="Опишите требования к распилу в свободной форме"></textarea>
                                        </div>
                                        <div class="cart-cut__attach">
                                            <div class="cart-cut__file">
                                                <label>
                                                    <input type="file" name="">
                                                    <div class="btn-gray">
                                                        <i class="icon"
                                                            style="background-image: url('/images/icons/ic_chain.svg')"></i>
                                                        Прикрепить чертёж
                                                    </div>
                                                    <span class="input-file-note">Фотографии и файлы не более
                                                        10</span>
                                                </label>
                                            </div>
                                            <div class="cart-cut__note">Точную стоимость услуги охвучит менеджер
                                                <br>
                                                после расчёта стоимости
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__aside">
                        <div class="cart-aside">
                            <div class="cart-aside__make">
                                <div class="cart-aside__btn">
                                    <a href="/"><button class="btn-blue">Перейти к оформлению</button></a>
                                </div>
                                <div class="cart-aside__text">Доступные способы оплаты и доставки можно выбрать
                                    при оформлении заказа.</div>
                            </div>
                            <div class="cart-aside__oneclick">
                                <button class="btn-gray">Купить в 1 клик</button>
                            </div>
                            <div class="cart-aside__details">
                                <div class="cart-details">
                                    <div class="cart-details__title">Ваша корзина</div>
                                    <div class="cart-details__prop">
                                        <div class="cart-details__item">
                                            <div class="cart-details__name">Товары (86)</div>
                                            <div class="cart-details__value">119 809 ₽</div>
                                        </div>
                                        <div class="cart-details__item">
                                            <div class="cart-details__name">Услуги (1)</div>
                                            <div class="cart-details__value">после расчёта</div>
                                        </div>
                                        <div class="cart-details__item">
                                            <div class="cart-details__name">Вес</div>
                                            <div class="cart-details__value">1 110 кг</div>
                                        </div>
                                        <div class="cart-details__item cart-details__item--dropdown">
                                            <div class="cart-details__name">Скидки</div>
                                            <div class="cart-details__value">4 392 ₽</div>
                                        </div>
                                        <div class="sale-dropdown">
                                            <div class="sale-dropdown__item">
                                                <div class="sale-dropdown__name">Акция</div>
                                                <div class="sale-dropdown__value">— 4 392 ₽</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cart-details__input">
                                        <input type="text" placeholder="Промокод">
                                    </div>

                                    <div class="cart-details__output">
                                        <div class="cart-output">
                                            <div class="cart-output__title">Итог</div>
                                            <div class="cart-output__value">115 470 ₽</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="cart-aside__cutter">
                                <div class="cart-cutter">
                                    <div class="cart-cutter__head">
                                        <div class="cart-cutter__title">Нужен распил?</div>
                                        <div class="cart-cutter__toggle">
                                            <label class="toggle">
                                                <input type="checkbox" v-model="need_cutter">
                                                <div>
                                                    <span class="toggle-slide"></span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="cart-cutter__text">
                                        У вас в корзине есть товары, для которых мы можем произвести распил.
                                        <a href="#">Смотреть цены.</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @@include('html/footer-cart.html')
    @@include('html/components/action-panel.html')

    <script src="/js/checkout.js"></script>

</body>

</html>