@import 'config/fonts';
@import 'config/vars';
@import 'config/mixins';

@import 'config/reset';
@import 'config/base';
@import 'config/formated-text.scss';

@import 'components/header';
@import 'components/main';
@import 'components/footer';
@import 'components/form';
@import 'components/spiner';
@import 'components/libs/splide.scss';

@import 'components/select-region';
@import 'components/top-catalog';
@import 'components/search.scss';

@import 'base/common';
@import "base/formated";
@import 'base/keyframes';

@import 'UI/buttons';
@import 'UI/checkbox';

//index page start
@import "components/p-index/b-data-search";
@import "components/p-index/mx-main-catalog";
@import "components/p-index/mx-numbers";
@import "components/p-index/mx-services";
@import "components/p-index/mx-goods";
@import "components/p-index/mx-collections";
@import "components/p-index/mx-stories";
//index page end

//catalog page start
@import "components/catalog/mx-catalog-goods";
@import "components/catalog/mx-simple-collections";
@import "components/catalog/mx-bd-catalog";
//catalog page end

@import "components/af-popup";
@import "components/warn-modal";

@import "components/seo";

@import "components/menu-header-md";
@import "components/action-panel";
@import "components/modal-time";
@import "components/modal-cart";
@import 'components/mx-catalog-card';
@import 'components/mx-services-item';
@import 'components/mx-goods-item';
@import 'components/search-input';
@import 'components/breadcrumbs';
@import 'components/mx-simple-collections-item';
@import 'components/dropdown';
@import 'components/category-filter';
@import 'components/pagination';



@import 'components/cart/cart.scss';
@import 'components/cart/cart-aside.scss';
@import 'components/cart/cart-cutter.scss';
@import 'components/cart/cart-checkout.scss';